{% extends "pagebase.html" %}
{% load misc staticfiles tz %}


{% block content %}
<div class="container"
     ng-controller="ExperienceHomepageController">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div id="user-pic-widget"
           class="[[ menu.isHidden ? '':'revealing' ]]">
        <div id="perspective-changer">
          <button class="btn btn-orpheus-purple">
            <span class="glyphicon glyphicon-repeat"></span>
            <span class="glyphicon glyphicon-user"></span>
          </button>
        </div>
        <img src="{% static 'ex/lady.png' %}" />
        <div class="profile-buttons">
          <div class="btn-group-vertical">
            <a href="#" class="btn btn-orpheus-purple">
              Community
              <span class="glyphicon glyphicon-tower"></span>
            </a>
            <a href="#" class="btn btn-orpheus-purple">
              Favorites
              <span class="glyphicon glyphicon-heart"></span>
            </a>
            <a href="{% url 'explore' %}" 
               class="btn btn-orpheus-purple">
              Explore
              <span class="glyphicon glyphicon-globe"></span>
            </a>
            <a href="#" class="btn btn-orpheus-purple">
              Marketplace
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </a>
            <a href="#" class="btn btn-orpheus-purple">
              Settings
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </div> <!-- /.btn-group-vertical -->
        </div> <!-- /.profile-buttons -->
        <div class="visible-xs">
          <button type="button" 
                  ng-click="menu.isHidden = !menu.isHidden"
                  class="btn btn-default
                         profile-menu-toggle">
            <span class="glyphicon glyphicon-expand"></span>
          </button>
        </div>
      </div> <!-- /#user-pic-widget -->
      {% for x in '123' %}
      <div class="creo-feature">
        Feature {{ x }}
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-8 col-md-9">
      <tabset ng-cloak id="experience-tabs">
        <tab heading="Yourself">
        </tab>
        <tab heading="Community">
        </tab>
      </tabset>
    </div>
  </div>
</div>
{% endblock %}
