{% extends "pagebase.html" %}
{% load misc staticfiles %}



{% block content %}
{% with standard_image_url="http://lorempixel.com/400/300/" wide_image_url="http://lorempixel.com/800/400/" tall_image_url="http://lorempixel.com/400/400/" %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Featured' %}">
            {% pallet text="Featured" imageURL=tall_image_url|add:"fashion" shape="tall-height" %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Near You' %}">
            {% pallet text="Near You" imageURL=standard_image_url|add:"people" shape="normal-height" %}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <a href="{% url 'For You' %}">
            {% pallet text="For You" imageURL=standard_image_url|add:"nightlife" shape="normal-height" %}
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{% url 'fiddlr Projects' %}">
            {% pallet text="fiddlr Events" imageURL=standard_image_url|add:"cats" shape="normal-height" %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Happening Now' %}">
            {% pallet text="Happening Now" imageURL=wide_image_url|add:"city" shape="tall-height" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}

{% block postscripts %}
<script>

  var gradientTopMarkup = '\
  <div class="gradient-border top-edge"></div>\
  ';
  var gradientMarkup = '\
  <div class="gradient-border top-edge"></div>\
  <div class="gradient-border bottom-edge"></div>\
  <div class="gradient-border topright-corner"><div></div></div>\
  <div class="gradient-border right-edge"></div>\
  <div class="gradient-border bottomright-corner"><div></div></div>\
  <div class="gradient-border bottomleft-corner"><div></div></div>\
  <div class="gradient-border left-edge"></div>\
  <div class="gradient-border topleft-corner"><div></div></div>\
  ';

(function( $ ){
   $.fn.centerImage = function() {
      var theca = this.parent();
      var wd = (theca.width() - this.width()) / 2;
      this.css('margin-left', wd+'px');
   }; 
   $.fn.gradientBorderTop = function() {
       this.append(gradientTopMarkup);
   };
})( jQuery );
  $(window).on('load', function() {
//    $('.image-case > img').centerImage();
    $('.explore-section-label > .label-inner').gradientBorderTop();
  });
</script>
{% endblock postscripts %}
