{% extends "pagebase.html" %}
{% load misc %}


{% block content %}
<div class="container">
  {% for x in '12345678' %}
  {# <a class="project link" href="#"> #}
    <div class="project-block">
      <div class="translucent hoverable content-case">
        <div class="project-info">
          <div class="project-name">
            {{ "Project Name"|smallcaps }}
          </div>
          <p class="project-details">
            <span class="project-time">Time</span>,
            <span class="project-date">Date</span>,
            <span class="project-venue">Venue</span>
          </p>
          <p class="project-description">
            Description
          </p>
          <p class="project-artist">
            Artist
          </p>
        </div>
        <div class="project-actions">
          <a href="#" class="pull-left">Get directions</a>
          <a href="#" class="pull-right">Attend</a>
        </div>
      </div>
    </div>
  {# </a> #}
  {% endfor %}
</div>
{% endblock content %}
