{% extends "pagebase.html" %}
{% load misc staticfiles registration %}


{% block content_class %} flush-with-header {% endblock %}


{% block content %}
<div ng-controller="FrontPageController">
  <div class="backdrop backdrop-front"></div>
  <div id="front-cover-image">
    <div class="container">
      <div class="col-sm-4 col-sm-offset-8
                  col-md-3 col-md-offset-9">
        {% if user.is_authenticated %}
        <div id="user-welcome">
          <p>Greetings, {{ user.first_name|default:user }}</p>
          <form action="{% url 'Sign out' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            <p>
              <button type="submit" 
                      class="btn btn-primary signout-button">
                Sign out
              </button>
            </p>
          </form>
        </div>
        {% else %}
        <div id="front-login">
          {% SigninForm %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="big-ol-buttons">
    <div class="container">
      {% if isGabrielle and time4gabymorning %}
      <audio src="{% static 'ex/goodmorningGABY.mp3' %}"
             preload="auto" id="gaby">
      </audio>
      <p>
        Gaby!  How very nice of you stop by!<br>
        Say &ndash; is your volume turned up? &hellip;
        <button onclick="document.getElementById('gaby').play()">Umm.. yes?</button>
      </p>
      {% endif %}
      <div class="row">
        {% for page in "Explore,Create,Connect"|split:"," %}
          <div class="col-sm-4">
            <a href="{% url page %}"
               class="section-link btn btn-primary btn-purple 
                      text-bold center-block"
               popover="[[  briefs['{{page}}']  ]]" 
               popover-placement="bottom"
               popover-trigger="mouseenter">
              <span class="huge">{{ page|smallcaps }}</span>
            </a>
          </div><!--/.col-sm-4-->
        {% endfor %}
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/#big-ol-buttons-->
  {% if isGabrielle or isTheodore %}
  <a id="Locus-Proprius-Link" href="Locus-Proprius-Gabriellae"
     class="btn btn-sm btn-default">
    <span class="glyphicon glyphicon-star"></span>
  </a>
  {% endif %}
</div>
{% endblock %}
