{% extends "pagebase.html" %}
{% load misc staticfiles registration %}


{% block content_class %} flush-with-header {% endblock %}


{% block content %}
<div ng-controller="FrontPageController">
  <div id="front-cover-image">
    <div class="container">
      <div class="col-sm-4 col-sm-offset-8
                  col-md-3 col-md-offset-9">
        {% if user.is_authenticated %}
        <div id="user-welcome">
          <p>Greetings, {{ user.first_name|default:user }}</p>
          <form action="{% url 'Sign out' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            <p>
              <button type="submit" 
                      class="btn btn-primary signout-button">
                Sign out
              </button>
            </p>
          </form>
        </div>
        {% else %}
        <div id="front-login">
          {% SigninForm %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt15px">
      {% for page in "Experience,Create,Nexus"|split:"," %}
      <div class="col-sm-4">
        <a href="{% url page %}"
           class="section-link btn btn-default
                  text-bold center-block"
           popover="[[  briefs['{{page}}']  ]]" 
           popover-placement="bottom"
           popover-trigger="mouseenter">
          <span class="huge">{{ page|smallcaps }}</span>
        </a>
      </div><!--/.col-sm-4-->
      {% endfor %}
    </div><!--/.row-->
  </div><!--/.container-->
  {% if isGabrielle or isTheodore %}
  <a id="Locus-Proprius-Link" href="Locus-Proprius-Gabriellae"
     class="btn btn-sm btn-default">
    <span class="glyphicon glyphicon-star"></span>
  </a>
  {% endif %}
</div>
{% endblock %}
