{% extends "pagebase.html" %}
{% load misc %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1
                col-md-8  col-md-offset-2
                col-lg-6  col-lg-offset-3">
      <h2>Need Help?</h2>
      <p class="text-justify large">
        <span class="serif">
          {{ "Nec verum est quod dicitur a quibusdam propter necessitatem vitae, quod ea, quae natura desideraret, consequi sine aliis atque efficere non possemus, idcirco initam esse cum hominibus communitatem et societatem; quodsi omnia nobis, quae ad victum cultumque pertinent, quasi virgula divina, ut aiunt, suppeditarentur, tum optimo quisque ingenio negotiis omnibus omissis totum se in cognitione et scientia collocaret. Non est ita. Nam et solitudinem fugeret et socium studii quaereret, tum docere, tum discere vellet, tum audire, tum dicere. Ergo omne officium, quod ad coniunctionem hominum et ad societatem tuendam valet, anteponendum est illi officio, quod cognitione et scientia continetur."|smallcaps }}
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
