{% extends "base.html" %}
{% load staticfiles misc %}

{% block super_content %}
<div id="header">
  <div class="container full-width">
    <div class="row">
      <div class="col-sm-2">
        <div class="ib vmid fiddlr-title">
          <a href="{% url 'Front' %}">
            {# <img src="{% static 'ex/f.png' %}" /><span>&nbsp; iddlr</span> #}
            fiddlr
          </a>
        </div>
      </div>
      {% if page != "front" %}
      <div class="hidden-xs">
        <div class="col-sm-6">
          <div class="ib vmid">
            <input type="text" placeholder="what?">
          </div>
          <div class="ib vmid">
            <input type="text" placeholder="where?">
          </div>
          <div class="ib vmid">
            <button class="btn btn-sm btn-default search-button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="visible-xs">
        mobile search widget coming soon
      </div>
      <div class="col-sm-4">
        <div class="ib vmid" id="alerts-icon">
          <a class="btn btn-sm btn-default"
             href="{% url 'Alerts' %}">
            <span class="glyphicon glyphicon-bell"></span>
            <span class="badge">482</span>
          </a>
        </div>
        <div class="ib vmid" id="header-links">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs hidden-sm">Pages</span>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu menu-align-right-edge" role="menu">
              {% for link in "Home,,Explore,Create,Connect,,About,Copyright,Help,Ads"|split:"," %}
                {% if link == "" %}
                  <li role="presentation" class="divider"></li>
                {% else %}
                  <li role="presentation">
                    <a href="{% url link %}" role="menuitem" tabindex="-1">
                      {{ link }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="ib vmid">
          <button class="btn btn-sm btn-primary">
            sign in/up
          </button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div><!--/#header-->

<div id="content">
  {% block content %}{% endblock %}
</div>

<div id="dev-warning" title="You have been warned.">
  <span class="text-danger">
    <strong>fiddlr is presently under development</strong>
  </span>
</div>

{% endblock %}
