{% extends "base.html" %}
{% load staticfiles misc registration %}


{% block default_prescripts %}
  {{ block.super }}
  <script>
    {% for ccNo, ccName in CreotypeChoices %}
      var Creotype{{ ccName }} = {{ ccNo }};
    {% endfor %}
    var Creotypes = {
      {% for ccNo, ccName in CreotypeChoices %}
        {{ ccNo }}: '{{ ccName }}' 
            {% if not forloop.last %},{% endif %}
      {% endfor %}
    };
  </script>
{% endblock %}


{% block body_attributes %}ng-app="fiddlrApp"{% endblock %}


{% block super_content %}
<div id="header" ng-controller="CommonHeaderController">
  <div class="container full-width">
    <div class="row">
      <div class="col-sm-2 col-xs-4">
        <div class="ib vmid fiddlr-title">
          <a href="{% url 'Home' %}">fiddlr</a>
        </div>
      </div>
      <div class="hidden-xs">
        <div class="col-sm-6">
          <form action="{% url 'Search' %}" method="POST">
            {% csrf_token %}
            <div class="ib vmid">
              <input type="text" class="form-control"
                     name="what" placeholder="what?" />
            </div>
            <div class="ib vmid">
              <input type="text" class="form-control"
                     name="where" placeholder="where?" />
            </div>
            <div class="ib vmid">
              <button class="btn btn-default search-button"
                      type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-4 col-xs-8">
        {% if user.is_authenticated %}
        <div class="ib vmid" id="alerts-icon">
          <a class="btn btn-default btn-narrow-xs"
             href="{% url 'Alerts' %}">
            <span class="glyphicon glyphicon-bell"></span>
            <span class="badge">482</span>
          </a>
        </div>
        {% endif %}
        <div class="ib vmid" id="header-links">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs hidden-sm">Pages</span>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu menu-align-right-edge" role="menu">
              {% for link in "Home,Account,,Explore,Create,Connect,,About,Copyright,Help,Ads"|split:"," %}
                {% if link == "" %}
                  <li role="presentation" class="divider"></li>
                {% else %}
                  <li role="presentation">
                    <a href="{% url link %}" role="menuitem" tabindex="-1">
                      {{ link }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="ib vmid">
          {% if user.is_authenticated %}
          <form action="{% url 'Sign out' %}" method="POST"
                id="signout-form">
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            <button class="btn btn-primary signout-button btn-narrow-xs">
              Sign out
            </button>
          </form>
          {% else %}
          <script type="text/ng-template" id="login-modal.html">
            <div class="modal-header">
              <div ng-show="loginPrompted">
                <p class="large">Please sign in to view this page</p>
              </div>
              <div class="btn-group btn-group-justified">
                <label class="btn btn-primary" ng-model="signinup.which" btn-radio="'in'">
                  Sign in
                </label>
                <label class="btn btn-primary" ng-model="signinup.which" btn-radio="'up'">
                  Sign up
                </label>
              </div>
            </div>
            <div class="modal-body">
              <div ng-show="signinup.which == 'in'">
                {% SigninForm %}
              </div>
              <div ng-show="signinup.which == 'up'">
                <form action="{% url 'Sign up' %}"
                      method="POST" name="forms.signup">
                  {% csrf_token %}
                  <div class="form-group has-feedback 
                              labelless [[ usernameStatus() ]]">

                    <input type="text" class="form-control" 
                           id="signup-username" name="username" 
                           placeholder="choose a username"
                           ng-model="pending.username"
                           ng-pattern="/^[\w\d\-\.\+\@\_]*$/"
                           maxlength="30"
                           ng-change="usernameChanged()"
                           tooltip="[[ getUsernameTooltip() ]]"
                           tooltip-trigger="showUsernameTooltip" />

                    <span class="glyphicon-[[ usernameIcon() ]] 
                                 glyphicon form-control-feedback"
                          ng-show="forms.signup.username.$dirty && pending.username.length > 0"></span>

                  </div>
                  <div class="form-group">

                    {# TODO: realtime validate email #}
                    <input type="email" class="form-control"
                           name="email" placeholder="email"
                           ng-model="pending.email" />

                  </div>
                  <div class="form-group">

                    {# TODO: impose password requirements #}
                    <input type="password" class="form-control"
                           name="password" placeholder="password"
                           ng-model="pending.password" />

                  </div>                  
                  <div class="form-group">
                    <input type="text" class="form-control"
                           name="secret_agent_id" 
                           placeholder="secret agent ID"
                           ng-model="pending.said" />
                  </div>                  
                  <button type="submit" class="btn btn-primary btn-purple pull-right">
                    Create account
                  </button>
                </form>
              </div>
              <button class="btn btn-default" ng-click="jk()">
                Nevermind
              </button>
            </div>
          </script>
          <button class="btn btn-primary btn-narrow-xs"
                  id="signinup-modal-button"
                  ng-click="openLoginModal()">
            Sign in/up
          </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div><!--/#header-->

{% if user.is_authenticated and user.username == 'gaby' %}
<audio id="soulfoodhaaappy" preload="auto"
       src="{% static 'ex/soulfoodhaaappy.mp3' %}"></audio>
{% endif %}

<div id="content" class="{% block content_class %}{% endblock %}">
  {% block content %}{% endblock %}
  
  {% if time2boogie %}
  <img id="discoball" class="center-block"
       src="{% static 'ex/discoball3.gif' %}" />
  {% endif %}
</div>

<div id="dev-warning" title="You have been warned."
     {% if time2boogie %}
       class="boogie-button"
     {% endif %}>
  <span class="text-danger">
    <strong>fiddlr is presently under development</strong>
  </span>
</div>

{% if time2boogie %}
<audio src="{% static 'ex/BoogieOogieOogie.mp3' %}"
       preload="auto" id="boogieoogieoogie">
</audio>
<div class="backdrop disco-backdrop"></div>
{% endif %}

{% endblock %}

{% block thirdparty_postscripts %}
  {{ block.super }}

  {% for ngPiece in ",-loader,-route,-cookies,-resource,-sanitize,-touch"|split:"," %}
    {% with ngFile=ngVersion|add:'angular'|add:ngPiece %}
      {% if isProduction %}
        <script src="{{ ngCDN|add:ngFile|add:'.min.js' }}"></script>
      {% else %}
        <script src="{% static '3p/ng/'|add:ngFile|add:'.js' %}"></script>
      {% endif %}
    {% endwith %}
  {% endfor %}

  {# mocks is only for testing #}
  {% if not isProduction %}
    <script src="{% static '3p/ng/'|add:ngVersion|add:'angular-mocks.js' %}"></script>
  {% endif %}


  <script src="http://maps.googleapis.com/maps/api/js?key={{ googleAPIKey }}&sensor=true"></script>

  {% if isProduction %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="{% static '3p/scripts/ui-bootstrap-tpls-0.11.0.min.js' %}"></script> {# ~~~ no CDN ~~~ #}
    <script src="{% static '3p/scripts/angular-google-maps-1.1.4.min.js' %}"></script> {# ~~~ no CDN ~~~ #}
  {% else %}
    <script src="{% static '3p/scripts/underscore-1.6.0.js' %}"></script>
    <script src="{% static '3p/scripts/ui-bootstrap-tpls-0.11.0.js' %}"></script>
    <script src="{% static '3p/scripts/angular-google-maps-1.1.4.js' %}"></script>
  {% endif %}

  <script src="{% static 'djangular/js/django-angular.js' %}"></script>
  <script src="{% static '3p/scripts/restangular.js' %}"></script>

{% endblock %}



{% block default_postscripts %}
  {{ block.super }}

  {% for appfile in "app.js,controllers.js,directives.js,filters.js,services.js"|split:"," %}
    <script src="{% static 'my/scripts/ng/'|add:appfile %}"></script>
  {% endfor %}

  {% if time2boogie %}
    <script src="{% static 'my/scripts/boogie.js' %}"></script>
  {% endif %}

  {% if user.is_authenticated and user.username == 'gaby' %}
    <script src="{% static 'my/scripts/soulfood.js' %}"></script>
  {% endif %}

{% endblock %}
