{% extends "base-portal.html" %}
{% load misc staticfiles %}


{% block content %}
<div ng-controller="PortalCtlr" id="portal">
  <div id="navigator">
    <div class="btn-group btn-group-justified">
      <a class="btn pfb" href="/">fiddlr</a>
      <div class="btn-group">
        <button type="button" class="btn pfb dropdown-toggle"
                data-toggle="dropdown">
          <i class="glyphicon glyphicon-align-justify"></i>
          <i class="glyphicon glyphicon-chevron-down swivels"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% if user.is_authenticated %}
          <li role="presentation">
            <form action="{% url 'Sign out' %}" method="POST"
                  id="signout-form">
              {% csrf_token %}
              <input type="hidden" name="next" value="/" />
              <button class="btn btn-default
                             signout-button"
                      title="Signed in as {{user.get_full_name|default:user}}">
                Sign out
              </button>
            </form>
          </li>
          <li role="presentation" class="divider"></li>
          {% endif %}
          {% for link in "About,Copyright,Help,Ads"|split:"," %}
          <li role="presentation">
            <a href="{% url link %}" role="menuitem" tabindex="-1">
              {{ link|capfirst }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn pfb">
          <i class="glyphicon glyphicon-search"></i>
          <i class="glyphicon glyphicon-chevron-right swivels"></i>
        </button>
      </div>
    </div> <!-- /.btn-group-justified -->
    <div id="user-pic-widget">
      <div class="picture">
        <img src="{% static 'ex/lady.png' %}" />
        <button class="btn pfb" id="perspective-changer"
                ng-click="menu.perspective = !menu.perspective">
          <i class="glyphicon glyphicon-eye-open"></i>
        </button>
        <div id="perspective-menu-wrapper"
             ng-class="{open: menu.perspective}">
          <div id="perspective-menu-window">
            <div id="perspective-menu">
              <div class="perspective-choice">
                <i class="glyphicon glyphicon-tree-deciduous"></i>
              </div>
              <div class="perspective-choice">
                <i class="glyphicon glyphicon-tree-conifer"></i>
              </div>
            </div>
          </div>
        </div>
        <button class="btn pfb" id="picture-changer">
          <i class="glyphicon glyphicon-picture"></i>
        </button>
      </div> <!-- /.picture -->
      <div class="popout-buttons">
        <div class="btn-group-vertical">
          <a href="#" class="btn pfb">
            Community
            <i class="glyphicon glyphicon-tower"></i>
          </a>
          <a href="#" class="btn pfb">
            Favorites
            <i class="glyphicon glyphicon-heart"></i>
          </a>
          <a href="#" 
             class="btn pfb">
            Explore
            <i class="glyphicon glyphicon-globe"></i>
          </a>
          <a href="#" class="btn pfb">
            Marketplace
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </a>
          <a href="#" class="btn pfb">
            Settings
            <i class="glyphicon glyphicon-cog"></i>
          </a>
        </div> <!-- /.btn-group-vertical -->
      </div> <!-- /.popout-buttons -->
    </div> <!-- /#user-pic-widget -->
    {% for x in '123' %}
    <div class="creo-feature">
      Feature {{ x }}
    </div>
    {% endfor %}
  </div> <!-- /#navigator -->
  <div id="portal-content">
      <tabset ng-cloak id="experience-tabs">
        <tab heading="Yourself">
        </tab>
        <tab heading="Community">
        </tab>
      </tabset>
  </div> <!-- /#portal-content -->
  <div id="advert-board">
    <div id="temporary-advert-banner">
      advert space
    </div>
  </div> <!-- /#advert-board -->
</div> <!-- /#portal -->
{% endblock %}
