{% extends "pagebase.html" %}
{% load misc staticfiles tz %}


{% block content %}
<div class="container"
     ng-controller="ExperienceHomepageController">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div id="mystery-area">
        Hayy<br>
        What goes here?
      </div>
      {% for x in '123' %}
      <div class="creo-feature">
        Feature {{ x }}
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-8 col-md-9">
      <tabset ng-cloak id="experience-tabs">
        <tab heading="My Profile">
        </tab>
        <tab heading="Bulletin">
        </tab>
      </tabset>
    </div>
  </div>
  <div class="row" id="explore-pallets">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Event Listing' 'featured' %}">
            {% static 'ex/plore/powerstar.png' as powerstar %}
            {% pallet text="Featured" imageURL=powerstar moreClasses="pallet-tall" %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Event Listing' 'near-you' %}">
            {% static 'ex/plore/trolly.png' as trolly %}
            {% pallet text="Near You" imageURL=trolly moreClasses="pallet-image-fill" %}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <a href="{% url 'Event Listing' 'for-you' %}">
            {% static 'ex/plore/bookbrowsing.jpg' as bookbrowsing %}
            {% pallet text="Browse" imageURL=bookbrowsing moreClasses="pallet-image-fill" %}
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{% url 'Event Listing' 'fiddlr-events' %}">
            {% static 'ex/plore/logo-228.png' as logo %}
            {% pallet text="fiddlr events" imageURL=logo %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Event Listing' 'happening-now' %}">
            {% static 'ex/plore/herewego.png' as herewego %}
            {% pallet text="Happening Now" imageURL=herewego moreClasses="pallet-tall" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
