{% extends "pagebase.html" %}
{% load misc staticfiles %}


{% block content %}
<div class="container">
  <div class="row" id="explore-pallets">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'explore-list' 'featured' %}">
            {% static 'ex/plore/powerstar.png' as powerstar %}
            {% pallet text="Featured" imageURL=powerstar moreClasses="pallet-tall pallet-imgfit" %}
          </a>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'explore-list' 'nearyou' %}">
            {% static 'ex/plore/trolly.png' as trolly %}
            {% pallet text="Near You" imageURL=trolly %}
          </a>
        </div>
      </div><!-- /.row -->
    </div><!-- col (featured,near) -->
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <a href="{% url 'explore-list' 'foryou' %}">
            {% static 'ex/plore/bookbrowsing.jpg' as bookbrowsing %}
            {% pallet text="Browse" imageURL=bookbrowsing %}
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{% url 'explore-list' 'fiddlrevents' %}">
            {% static 'ex/plore/logo-228.png' as logo %}
            {% pallet text="fiddlr events" imageURL=logo moreClasses="pallet-imgfit" %}
          </a>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'explore-list' 'happeningnow' %}">
            {% static 'ex/plore/nyc-blueprint.jpg' as nyc %}
            {% pallet text="Happening Now" imageURL=nyc moreClasses="pallet-tall" %}
          </a>
        </div>
      </div><!-- /.row -->
    </div><!-- /.col (browse,fiddlr,happening) -->
  </div><!-- /.row#explore-pallets -->
</div><!-- /.container -->
{% endblock content %}
