{% extends "pagebase.html" %}
{% load misc staticfiles %}


{% block content %}
<div class="container">
  <div class="row" id="explore-pallets">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'explore-list' 'featured' %}">
            {% static 'ex/plore/featuringnathan.jpg' as feat %}
            {% pallet text="Featured" imageURL=feat moreClasses="pallet-tall" %}
          </a>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'explore-list' 'nearyou' %}">
            {% static 'ex/plore/stoop.jpg' as near %}
            {% pallet text="Near You" imageURL=near %}
          </a>
        </div>
      </div><!-- /.row -->
    </div><!-- col (featured,near) -->
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <a href="{% url 'explore-list' 'browse' %}">
            {% static 'ex/plore/bookbrowsing.jpg' as bookbrowsing %}
            {% pallet text="Browse" imageURL=bookbrowsing %}
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{% url 'explore-list' 'fiddlrevents' %}">
            {% static 'ex/plore/FMT.jpg' as fidd %}
            {% pallet text="fiddlr events" imageURL=fidd %}
          </a>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'explore-list' 'happeningnow' %}">
            {% static 'ex/plore/nyc-blueprint.jpg' as nyc %}
            {% pallet text="Happening Now" imageURL=nyc moreClasses="pallet-tall" %}
          </a>
        </div>
      </div><!-- /.row -->
    </div><!-- /.col (browse,fiddlr,happening) -->
  </div><!-- /.row#explore-pallets -->
</div><!-- /.container -->
{% endblock content %}
