{% extends "pagebase.html" %}
{% load misc staticfiles %}



{% block content %}
<div class="container" ng-controller="ExploreController">

  <div class="row">
    <div class="col-sm-9">
      <div ng-cloak class="explore-list-title">[[ listTitle ]]</div>
    </div>
    <div class="col-sm-3">
      <div class="text-right">
        <a href="{% url 'explore-map' ngScopeInitials.listKey %}"
           class="btn btn-orpheus-purple large">
          Map View
        </a>
      </div>
    </div>
  </div>

  <div ng-show="isLoading" class="mt50px">
    {% OctagramLoader %}
  </div>

  <div ng-repeat="type in Creotypes" ng-cloak
       class="creotype-section"
       ng-init="iType = $index + 1">
    <h2 class="creotype-section-header" 
        ng-show="creos[iType].length != 0">[[ type ]]s</h2>

    <div ng-repeat="creo in creos[iType] | filter:listFilter(listKey)"
         class="creo-block" ng-cloak>
      <div class="expand-creo-block">
        <span class="glyphicon glyphicon-resize-full"></span>
      </div>
      <div class="content-case">
        <div class="creo-info">
          <a href="/experience/page/[[ creo.id ]]/"
             class="creo-name" title="[[ creo.name ]]">
            <span class="inner-content">
              [[ creo.name | default:'[nameless]' ]]
            </span>
          </a>
          <div ng-show="creo.isEvent()">
            <div class="creo-venue">
              <span class="inner-content">
                @ 
                <a href="/experience/page/[[ creo.venue().id ]]/"
                   title="[[ creo.venue().name ]]">
                  [[ creo.venue().name ]]
                </a>
              </span>
            </div>
            <div class="creo-datetime">
              <span class="inner-content">
                <span ng-bind-html="creo | dateRange"></span>
              </span>
            </div>
            <div class="creo-artists">
              <span class="inner-content">
                <span ng-repeat="artist in creo.artists">
                  <span ng-show="$last && $index > 0">&amp;</span>
                  <a href="/experience/page/[[ artist.id ]]/" class="ib">
                    [[ artist.name ]]
                  </a><span ng-show="!$last && creo.artists.length > 2">,</span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="creo-actions">
          <a href="#" class="pull-left">Directions</a>
          <a href="#" class="pull-right">Attend</a>
        </div>
      </div>
    </div>

  </div>

</div>

<div ng-cloak ng-show="listKey == 'featured'" id="feature-feature">
  <div class="container">
    <hr>
    <h4>Interested in featuring your event?</h4>
    <a class="btn btn-success"
       target="_blank"
       href="#">
      Find out more &raquo;
    </a>
  </div>
</div>
{% endblock content %}


{% block postscripts %}
<script src="{% static '3p/scripts/latlon.js' %}"></script>
{% endblock %}
