{% extends "pagebase.html" %}
{% load misc staticfiles %}


{% block body_class %}
  {{ block.super }}
  scrollbar-always-present
{% endblock %}


{% block content_class %}
  {{ block.super }}
  flush-with-header
{% endblock %}


{% block content %}
<div ng-controller="ExploreController">

  <div id="gmap-explore" class="gmap full-height-map">
    <google-map center="map.center" 
                zoom="map.zoom"
                pan="false"
                draggable="true">
      <marker ng-repeat="e in creos | filter:eventFilter(listKey)"
              coords="e.venue.geocoordinates"
              {% comment %}
              ng-init="mgeo = e.venue.geocoordinates"
              coords="mgeo"
              {% endcomment %}
              options="{opacity:1}"
              events="markerEvents">
      </marker>
    </google-map>
  </div>


  <div id="leave-map-link">
    <a href="{% url 'explore-list' ngScopeInitials.listKey %}" 
       class="btn btn-orpheus-purple">
      List View
    </a>
  </div>

  <div ng-cloak class="explore-map-list">
    <div class="explore-map-title">[[ listTitle ]]</div>
    <div>
      <accordion close-others="false">
        <accordion-group ng-repeat="c in creos | filter:eventFilter(listKey)"
                         ng-init="geo = c.venue.geocoordinates"
                         class="creo-item [[geo.id==hoverMarkerId?'corresponding-marker-hover':'']]" 
                         is-open="itemStati[geo.id]"
                         ng-click="clickEventItem(geo.id)">
          <accordion-heading>
            <div class="creo-name">[[ c.name ]]</div>
          </accordion-heading>
          <div class="creo-venue">@ [[ c.venue.name ]]</div>
          <div>
            <div ng-bind-html="c | dateRange"></div>
          </div>
          <div>
            [[ c.brief ]]
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
{% endblock %}



{% block postscripts %}
<script src="{% static 'my/scripts/geo.js' %}"></script>
{% endblock %}

