{% extends "pagebase.html" %}
{% load misc staticfiles %}


{% block body_class %}
  {{ block.super }}
  scrollbar-always-present
{% endblock %}


{% block content_class %}
  {{ block.super }}
  flush-with-header
{% endblock %}


{% block content %}
<div ng-controller="ExploreController">

  <div id="gmap-explore" class="gmap full-height-map">
    <google-map center="map.center" 
                zoom="map.zoom"
                pan="false"
                draggable="true">
      <markers models="markers"
               coords="'self'">
      </markers>
    </google-map>
  </div>


  <div id="leave-map-link">
    <a href="{% url 'explore-list' ngScopeInitials.listKey %}" 
       class="btn btn-orpheus-purple">
      List View
    </a>
  </div>

  <div ng-cloak class="explore-map-list">
    <div class="explore-map-title">[[ listTitle ]]</div>
    <div ng-repeat="type in Creotypes" ng-cloak
         class="creotype-section"
         ng-init="iType = $index + 1">
      <div class="creotype-section-header" 
           ng-show="creos[iType].length != 0">[[ type ]]s</div>
      <accordion close-others="false">
        <accordion-group ng-repeat="c in creos[iType] | filter:listFilter(listKey)"
                         ng-init="geo = c.geocoordinates()"
                         class="creo-item [[geo.id==hoverMarkerId?'corresponding-marker-hover':'']]" 
                         is-open="itemStati[geo.id]">
          <accordion-heading>
            <div class="creo-name">[[ c.name ]]</div>
          </accordion-heading>
          <div>
            [[ c.brief ]]
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
{% endblock %}



{% block postscripts %}
<script src="{% static '3p/scripts/latlon.js' %}"></script>
{% endblock %}

