@import (less) "generic.less";
@import (less) "variables.less";
@import (less) "gradient.less";

.creo-page {

    .creo-field {
        position: relative;
        border: 1px dotted transparent;
        min-height: 36px;
        margin-bottom: 2px;
        
        // like ellipflow if parent is
        .ellipflow-inherit;
    }

    .creo-name {
        font-size: 24px;
        height: 36px;
        .ellipflow;
    }

    .creo-panel {
        padding: 0px 3px 3px 3px;
        background-color: #DDF;
        margin-bottom: 30px;
        border: 2px solid #EEF;
    }

    .small-about-header {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .fan-buttons {
        margin: 10px 0;
    }

    #prior-events {
    }

    .creo-location {
        color: @infoblue;
        font-weight: bold;

        .location-map-link {
            font-weight: normal;
            margin-left: 10px;
        }
    }

    .creo-brief {
        color: @darkgrey;
        font-style: italic;
    }

    .creo-artists {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .creo-venue {
        margin-bottom: 10px;
        &::before {
            content: "@";
            font-size: 18px;
            font-weight: bold;
        }
    }

    .creo-about {
        font-size: 12px;
    }

    @creo-content-bg: #FFFFFA;
    #small-about {
        background: @creo-content-bg;
    }

    .nav-tabs > li {
        > a {
            font-size: 16px;
            font-weight: bold;
            cursor: pointer !important;
            color: #333 !important;
        }
        &.active > a {
            cursor: default !important;
            background: @creo-content-bg;
        }
    }

    @initial-pane-height: 350px;

    .tab-content {
        background: @creo-content-bg;
        width: 300%;
        position: relative;
        .transition(all, 400ms, ease);

        .tab-pane {
            display: inline-block !important;
            width: 33.33%;
            margin: 0 ;
            padding: 3px;
            vertical-align: top;
        }
    }

    .sliding-tabs-theca {
        overflow-x: hidden;
    }

    .galleria-container {
        background: #EED;
        border: 1px solid #AAA;
        border-radius: 3px;
    }

    &.creo-editor {
        .creo-field {
            .transition(border-color, 180ms);
            &:hover {
                border-color: @grey;
                .btn-begin-editing {
                    opacity: 0.85;
                }
            }
        }

        .btn-begin-editing {
            position: absolute;
            right: 0px;
            top: 2px;
            opacity: 0.25;
            .transition(opacity, 180ms);
        }
        
        .uploading-spinner {
            position: absolute;
            top: 1px;
            right: 1px;
            max-width: 32px;
            height: auto;
        }

        .field-editor {
            position: absolute;
            top: 0;
            &.editing-inactive {
                z-index: -10;
                visibility: hidden;
            }
            &.editing-active {
                z-index: 1;
                visibility: visible;
            }
        }

        .creo-about {
            textarea {
                margin-top: 7px;
                margin-bottom: 7px;
            }
            .btn-end-editing {
                height: 100%;
            }
            .field-editor {
                margin-top: -7px;
            }
        }
    }

}
