@import (less) "generic.less";
@import (less) "variables.less";
@import (less) "gradient.less";


@Bx: 30px;
@By: 30px;
@r: 65px;
@Er: 5px;
@Lr: @r + @Er + 1;
@Cx: @Bx + @Lr;
@Cy: @By + @Lr;
.ngram {

    .animation-loop(@count, @a: 0) when (@a < @count) {
        @-webkit-keyframes ~"ngram-animation-@{a}" {
            .keyframe-loop(@p, @k: 0) when (@k <= @count) {
                @t: 2*pi() * @p / @count;
                @percent: 100 * @k / @count;
                @percent-str: ~'@{percent}%';
                @{percent-str} {
                    left: @Cx + @r*cos(@t) - @Er;
                    bottom: @Cy + @r*sin(@t) - @Er;
                }
                .keyframe-loop(mod((@p + 2), @count), (@k + 1));
            }
            .keyframe-loop(@a);
        }
        .ngmpt-@{a} {
            -webkit-animation-name: ~"ngram-animation-@{a}";
        }
        .animation-loop(@count, (@a + 1));
    }

    &.octagram {
        .animation-loop(8);
    }

    .ngmpt {
        position: fixed;
        background-color: #9AF;
        border-radius: @Er;
        width: 2*@Er;
        height: 2*@Er;
        -webkit-animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
    }
}

.ngram-loader {
    z-index: 10;
    width: 2*@Lr;
    height: 2*@Lr;
    border-radius: @Lr;
    .gradient-radial(#CCC, #777);
    position: fixed;
    bottom: @By;
    left: @Bx;
    line-height: 2*@Lr;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px white;
    .box-shadow(0, 0, 20px, #088);
}
