@import (less) "generic.less";
@import (less) "variables.less";


#portal {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#navigator {
    flex-basis: 220px;
}

#portal-content {
    margin: 0 5px;
    flex-grow: 1;
}

#advert-board {
    flex-basis: 100px;
    background: #fbfbfb;
}

#temporary-advert-banner {
    .rotate(90deg);
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
    white-space: nowrap;
}


#user-pic-widget {
    @colSm: 4;
    @colMd: 3;
    @colLg: 3;
    @nButtons: 5;
    @bRad: 4px;
    @fontsize: 20px;
    @protrude: 50px;
    @nBorders: @nButtons + 1;
    @lineheight: round(@fontsize * 1.5);
    @icon-margin: (@protrude - @fontsize)/2;

    display: flex;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    .picture {
        flex-grow: 1;
        border: 1px solid @orpheus-purple;
        border-top-left-radius: @bRad;
        border-bottom-left-radius: @bRad;
        z-index: 5;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            min-height: 100%;
        }
    }        

    @pcsize: 40px;
    #perspective-changer, #picture-changer {
        position: absolute;
        z-index: 6;
        width: @pcsize;
        height: @pcsize;
        overflow: hidden;
        .btn {
            width: @pcsize*2;
            height: @pcsize*2;
            margin-left: -@pcsize;
            border-radius: @pcsize;
        }
        .glyphicon {
            position: absolute;
        }
    }
    #perspective-changer {
        border-top-left-radius: @bRad -1;
        .btn {
            margin-top: -@pcsize;
        }
        top: 0;
        .glyphicon-user {
            margin-top: 10px;
            margin-left: 10px;
        }
        .glyphicon-repeat {
            margin-top: 4px;
            margin-left: 7px;
            color: grey;
            font-size: 20px;
        }
    }

    #picture-changer {
        border-bottom-left-radius: @bRad - 1;
        bottom: 0;
        .btn {
            margin-bottom: -@pcsize;
        }
        .glyphicon {
            margin-left: 10px;
            margin-top: 14px;
        }
    }

    .popout-buttons {
        flex-basis: @protrude;
    }
    .btn-group-vertical {
        position: relative;
        .btn {
            .transition(all, 300ms, ease);
            position: relative;
            &:first-child {
                border-top-left-radius: 0;
            }
            &:last-child {
                border-bottom-left-radius: 0;
            }
            padding-right: @icon-margin;
            line-height: @lineheight;
            font-size: @fontsize;
            font-weight: bold;
            text-align: right;
            .glyphicon {
                margin-left: @icon-margin;
            }
        }
    }

    .profile-menu-toggle {
        .glyphicon-expand {
            .rotate( 180deg );
        }
    }

    .x_( @width ) {
        @imgWidth: @width - @protrude;
        @height: @imgWidth * 1.4;
        width: @width;
        height: @height;
        .picture {
            flex-basis: @width - @protrude;
        }
        .btn-group-vertical {
            width: @width - @bRad;
            margin-left: -(@imgWidth - @bRad);
            .btn {
                &:hover {
                    margin-left: @imgWidth - @bRad;
                }
                @btnHeight: (@height - @nBorders) / @nButtons;
                @vPad: (@btnHeight - @lineheight)/2;
                padding-top: @vPad;
                padding-bottom: @vPad;
            }
        }
    }
    
    .x_(220px);
}




.creo-feature {
    margin-top: 20px;
    height: 65px;
    font-weight: bold;
    background-color: #F8F8F8;
    color: #333;
    padding: 5px;
    border: 2px solid @orpheus-purple;
    border-radius: 4px;
}




#experience-tabs {
    height: 500px;
}
