@import (less) "generic.less";
@import (less) "variables.less";


.btn-narrow-xs {
    padding-left: 12px;
    padding-right: 12px;
}


.pallet {
    &-label {
        bottom: 15px;
    }
}

.event-block {
    margin: 15px 30px 15px 0;
    .expand-event-block {
        display: block;
    }
    .event-name {
        .transition(all, 200ms, ease-out);
    }
    &:hover {
        .event-name {
            padding-left: 32px;
        }
    }
}
