@import (less) "generic.less";
@import (less) "variables.less";
@import (less) "gradient.less";


.fiddlr-title {
    font-size: 34px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1;
    a {
        color: @navyblue;
        &:hover {
            opacity: 0.75;
            text-decoration: none;
        }
    }
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
    padding: 5px 0;

    input {
        width: 150px;
    }
}

#header-links {
    button .glyphicon {
        .transition(all, 200ms, ease);
    }
    .open {
        .glyphicon-chevron-down {
            .rotate( 180deg );
        }
    }
}


#content {
    margin-top: @header-height;
    margin-bottom: 100px;
}

#please-login {
    padding-top: 30px;
}

#dev-warning {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3px 8px;
    z-index: 10;
    background-color: #AAA;
    border-top-left-radius: 8px;
}

.footer-link {
    display: inline-block;
    &::before {
        content: "|";
    }
    &:first-of-type {
        &::before {
            content: none;
        }
    }
}



#front-cover-image {
    .cover-background('@{s3url}/ex/front-cover.jpg');
    min-height: 250px;
}

#front-logo {
    .fit-image;
    margin-top: (250px - 152px)/2;
}

#front-login {
    padding-top: 50px;
    input {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

#user-welcome {
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px black;
}

#big-ol-buttons {
    margin: 50px 0;
}

.section-link {
    padding: 0 20px;
    margin: 20px 0;
}



@pallet-border-radius: 4px;
.pallet {
    display: block;
    overflow: hidden;
    margin: 15px 0;
    border-radius: @pallet-border-radius;
    &:hover {
        .box-shadow(0, 0, 12px, 0.7);
    }
    &-image {
        width: 100%;
        height: auto;
        min-height: 100%;
        border-radius: inherit;
    }
    &-label {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        margin-left: -15px;
        padding: 0 15px;
        width: 100%;
        text-align: center;
        color: @purple;
        font-size: 18px;
        font-weight: bold;
        .label-inner {
            @label-bg: @translucent;
            background-color: @label-bg;
            .gradient-border {
                .gradient-border_( @label-bg, 4px );
            }
            border-bottom-left-radius: @pallet-border-radius;
            border-bottom-right-radius: @pallet-border-radius;
        }
    }
}

.tall-height {
    height: 240px;
}

.normal-height {
    height: 180px;
}


.event-block {
    display: inline-block;
    width: 250px;
    height: 200px;
    margin: 20px 10px;
    border-radius: 4px;
    border: 1px solid @purple;
    .cover-background( 'http://lorempixel.com/250/200/cats/' );

    .event-info {
        height: 160px;
    }

    .event-name {
        font-size: 18px;
        font-weight: bold;
    }

    .event-details {
    }

    .event-actions {
    }
}

.content-case {
    padding: 7px 10px;
    border-radius: inherit;
    height: 100%;
}




.event-hover {
    border-color: @purple;
}

.event-item {
    margin: 12px 0;
    .transition();
    &:hover {
        .event-hover;
    }

    .event-name {
        display: inline-block;
        width: 40%;
        margin-right: 10px;
    }
}

.corresponding-marker-hover {
    .event-hover;
}



.theca {
    margin: 15px 0;
    padding: 6px;
    border: 1px dotted #AAA;

    .theca-image-case {
        max-width: 25%;
        width: 120px;
        
        img {
            width: 100%;
            height: auto;
        }            
    }
}

.artist-header {
    padding: 0 6px;
    font-size: 32px;
    .artist-name {
        font-family: serif;
    }
    .artist-location {
        font-size: 70%;
    }
}

.profile-panel {
    padding: 5px 3px;
    background-color: rgba(100, 100, 0, 0.25);
    margin-bottom: 30px;
}

.fan-buttons {
    margin: 10px 0;
    padding: 0 6px;
}

.past-events {
    padding: 6px;
}

.nav-tabs > li {
    > a {
        font-size: 16px;
        font-weight: bold;
        background-color: #111 !important;
        cursor: pointer !important;
        color: #CCC;
    }
    &.active > a {
        background-color: #BF0 !important;
        cursor: default !important;
        color: #555
    }
}

@initial-pane-height: 350px;

.tab-content {
    width: 300%;
    position: relative;
    .transition(all, 400ms, ease);

    .tab-pane {
        display: inline-block !important;
        width: 33.33%;
        margin: 0 ;
        padding: 3px;
        vertical-align: top;
    }
}

.sliding-tabs-theca {
    overflow-x: hidden;
}

.galleria {
    height: 350px;
}

.accordion-toggle {
    cursor: pointer;
}

#gmap-explore {
    position: fixed;
    top: @header-height;
    left: 0;
    bottom: 0;
    width: 60%;

    google-map,
    .angular-google-map,
    .angular-google-map-container {
        height: 100%;
    }
}

#featured-events {
    margin-left: 60%;
    width: 40%;
    padding: 0 10px;
}

#leave-map-link {
    z-index: 10;
    position: fixed;
    top: @header-height + 5px;
    left: 80px;
}


.alert {
    padding: 5px 10px;
    border: 1px solid #777;
    border-radius: 5px;
}


.circle-button {
    display: block;
    position: fixed;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #AAA;
    border-radius: 75px;
    cursor: pointer;
    background-color: rgba(100, 200, 100, 0.7);
    .transition();

    &:hover {
        .box-shadow(0,0,5px);
        background-color: #BFF;
        text-decoration: none;
        color: @navyblue;
    }

    color: @charcoal;
    font-weight: bold;
    font-size: 16px;

    .button-text {
        display: inline-block;
    }
}

.generate-delays(@n, @i: 0) when (@i < @n) {
    &:nth-child(@{i}) {
        transition-delay: (@i+1)*70ms;
    }
    .generate-delays(@n, (@i + 1));
}

.prearranged { 
    .circle-button {
        .transition(all, 450ms, ease);
        .generate-delays(5);
    }
}




.backdrop {
    z-index: -10;
    position: fixed;
    top: @header-height;
    bottom: 0;
    left: 0;
    right: 0;
}

#create-backdrop {
    .gradient-radial( @marine, black );
}

#create-button {
    &.pending-choice {
        border-radius: 2px;
    }
}



.narrower-button {
    padding-left: 6px;
    padding-right: 6px;
}

.form-group.labelless {
    .form-control-feedback {
        top: 0;
    }
}



#discoball {
    .transition(all, 6s, linear);
    position: relative;
    margin-top: -400px;
    &.dothedisco {
        margin-top: @header-height;
    }
}

.disco-backdrop {
    .transition(all, 3s, ease-out);
}

.black-backdrop {
    background-color: #000;
}