@import (less) "generic.less";
@import (less) "variables.less";
@import (less) "gradient.less";
@import (less) "create.less";
@import (less) "creo.less";
@import (less) "octagram.less";

body {
    background: #F0F0F0;
    color: #333;
}

a {
    .transition();
    color: @orpheus-purple;
    &:hover, &:focus {
        color: lighten(@orpheus-purple, 15%);
        text-decoration: none;
    }
}

.content-bottom-cushion {
    margin-bottom: 350px;
}

.orpheus-aqua {
    color: @cream !important;
    background-color: @orpheus-aqua;
}

.orpheus-purple {
    color: @cream !important;
    background-color: @orpheus-purple;
}

.btn-orpheus-aqua {
    .orpheus-aqua;
    .transition();
    
    border: 1px solid #144;
    &:hover {
        background-color: @orpheus-aqua-hover;
    }
    &:focus {
        background-color: @orpheus-aqua-hover;
        border-color: #CC9;
    }
    &:active {
        background-color: @orpheus-aqua-active;
    }
}

.btn-orpheus-purple {
    .orpheus-purple;
    .transition();
    
    border: 1px solid #555;
    &:hover {
        background-color: @orpheus-purple-hover;
    }
    &:focus {
        .box-shadow(0, 0, 8px, @orpheus-purple);
        border-color: darken(@cream, 30%);
    }
    &:active {
        background-color: @orpheus-purple-active;
    }
}

.btn-orpheus-teal {
    .transition();
    background-color: @orpheus-teal;
    color: #444;
    border: 1px solid darken(@orpheus-teal, 30%);
    &:hover {
        background-color: darken(@orpheus-teal, 10%);
    }
    &:focus {
        background-color: darken(@orpheus-teal, 15%);
        border-color: #CC9;
    }
    &:active {
        background-color: darken(@orpheus-teal, 20%);
    }
}

@orpheus-blue: #249;
.btn-orpheus-blue {
    .transition();
    background-color: #FFF;
    color: @orpheus-blue;
    border: 2px solid @orpheus-blue;
    padding: 5px 10px;
    border-radius: 6px;
    &:hover {
        background-color: @orpheus-blue;
        color: #FFF;
    }
    &:focus {

    }
    &:active {
        background-color: lighten(@orpheus-blue, 12%);
    }
}


.btn-front {
    margin-top: 15px;
    width: 100%;
    border-radius: 16px;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: serif;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.backdrop {
    z-index: -10;
    position: fixed;
    top: @header-height;
    bottom: 0;
    left: 0;
    right: 0;
    &-full {
        top: 0;
    }
}



.fiddlr-title {
    font-size: 34px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(245, 250, 255, 0.85);
    border-bottom: 1px solid #999;
    padding: 5px 0;

    input {
        width: 150px;
    }
}

#header-links {
    button .glyphicon {
        .transition-prefixed(transform, 200ms, ease);
    }
    .open {
        .glyphicon-chevron-down {
            .rotate( 180deg );
        }
    }
}


.btn-narrow-xs {
    padding-left: 5px;
    padding-right: 5px;
}


#content {
    margin-top: @header-height + 15px;
    margin-bottom: 100px;
    &.flush-with-header {
        margin-top: @header-height;
    }
}

#please-login {
    padding-top: 30px;
}

#Locus-Proprius-Gabriellae {
    #cardiac-map {
        width: 100%;
        height: 500px;
    }
    .galleria-gabriellae {
        width: 100%;
        height: 450px;
    }
}


#dev-warning {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3px 8px;
    z-index: 10;
    background-color: #AAA;
    border-top-left-radius: 8px;
}


@front-cover-height: 250px;
#front-cover-image {
    .cover-background('@{s3url}/ex/front-cover.jpg');
    height: @front-cover-height;
}

#front-login {
    padding-top: 50px;
    input {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

#user-welcome {
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px black;
}

.backdrop-front {
    .gradient-down(@navyblue);
}

.major-page-dropdown {
    width: 100%;

    &.open .dropdown-toggle {
        background-color: @orpheus-purple-active;
    }

    .dropdown-menu {
        width: 100%;
    }
}

.dropdown-menu {
    li {
        cursor: pointer;
    }
}

.btn-purple {
    background-color: @purple;
    color: @lightgrey;
    border-color: @black;
    .transition();
    &:hover {
        background-color: @purpleblue;
        color: @lightgrey;
        border-color: @black;
    }
}


.galleria {
    height: 250px; // for mobile
}



.pallet {
    display: block;
    overflow: hidden;
    width: 256px;
    height: 160px;
    margin: 15px 0;
    border-radius: 8px;
    background: #444;
    .transition();
    &:hover {
        .box-shadow(0, 0, 12px, lighten(@orpheus-purple, 15%));
    }
    .pallet-image-wrapper {
        width: 100%;
        height: 100%;
        img {
            display: block;
            margin: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }
    &.pallet-image-fill .pallet-image-wrapper img {
        min-width: 100%;
        min-height: 100%;
        max-width: initial;
        max-height: initial;
        width: 100%;
    }
    .pallet-label {
        position: relative;
        z-index: 1;
        height: 30px;
        margin-top: -30px;
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        background-color: @translucent;
        text-align: center;
        .ellipflow;
    }
}

#explore-pallets .pallet {
    width: 100%;
    &-tall {
        height: 320px;
    }
}

#my-creo-pallets .pallet {
    display: inline-block;
    margin: 16px 0 16px 32px;
}

.nav-tabs {
    border-bottom: 2px solid @orpheus-purple;
    & > li {
        & > a {
            background-color: transparent;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 15px;
            @media (min-width: @screen-sm-min) {
                padding-left: 35px;
                padding-right: 35px;
                font-size: 20px;
            }
            font-variant: small-caps;
            font-weight: bold;
            cursor: pointer !important;
            color: #444;
            border: none !important;
            &:hover {
                background-color: lighten(@orpheus-purple, 10%);
                color: darken(@cream, 6%);
            }
            .user-select(none);
        }
        &.active > a {
            cursor: default !important;
            background-color: @orpheus-purple !important;
            color: @cream !important;
        }
    }
}




.events-list-title {
    font-size: 34px;
    line-height: 39px; // .btn.large height
    font-family: serif;
    font-weight: bold;
}

@event-block-width: 280px;
@event-block-height: 175px;
.event-block {
    display: inline-block;
    vertical-align: top;
    width: @event-block-width;
    height: @event-block-height;
    overflow: hidden;
    margin: 15px 5px; //container has 15px padding on phone
    border-radius: 8px;
    background-color: @lightolivegreen;
    .transition();

    .content-case {
        padding: 7px 10px;
    }

    .event-info {
        height: @event-block-height - 35px;
        overflow: hidden;
    }

    .event-name {
        display: block;
        font-size: 16px;
        font-weight: bold;
    }

    .event-venue {
        margin-top: 8px;
    }

    .event-name, .event-venue {
        .ellipflow;
    }

    .event-datetime {
        font-family: serif;
        font-weight: bold;
        color: #555;
        margin-top: 3px;
    }

    .event-artists {
        margin-top: 8px;
    }

    .event-description {
        font-size: 12px;
        overflow: hidden;
        .inner-content {
            .transition(all, 500ms, ease);
            position: relative;
        }
    }

    .event-actions {
    }

    .expand-event-block {
        display: none; // not good for mobile

        position: absolute;
        top: inherit;
        left: inherit;
        width: 38px;
        height: 38px;
        margin-left: @event-block-width - 38px;
        border-radius: inherit;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: darkred;
        color: @lightgrey;
        padding: 2px 4px;
        font-size: 28px;
        opacity: 0;
        cursor: pointer;
        .transition(all, 150ms, ease-in);

        .glyphicon {
            .rotate(90deg);
        }
        
        &:hover {
            color: @mustard;
        }
    }

    .scroll-down-button {
        opacity: 0;
        cursor: pointer;
        padding: 0 10px;
        .transition(all, 150ms, ease-in);
    }

    &:hover {
        .box-shadow(0, 0, 8px);
        .expand-event-block {
            opacity: 0.95;
        }
        .scroll-down-button {
            opacity: 1;
        }
    }
}




.event-hover {
    border-color: @purple;
}

.event-item {
    margin: 12px 0;
    .transition();
    &:hover {
        .event-hover;
    }
}

.corresponding-marker-hover {
    .event-hover;
}



.theca {
    margin: 15px 0;
    padding: 6px;
    border: 1px dotted #AAA;

    .theca-image-case {
        max-width: 25%;
        width: 120px;
        
        img {
            width: 100%;
            height: auto;
        }            
    }
}

.accordion-toggle {
    cursor: pointer;
    span {
        display: inline-block;
        width: 100%;
        .ellipflow;
    }
}

#gmap-explore {
    left: 0;
    width: 60%;
}

.gmap {
    google-map,
    .angular-google-map,
    .angular-google-map-container {
        height: 100%;
    }
}

.full-height-map {
    position: fixed;
    top: @header-height;
    bottom: 0;
}

.events-map-list {
    margin-left: 60%;
    width: 40%;
    padding: 0 10px;
}

.events-map-title {
    font-size: 30px;
    line-height: 34px; // same height as a btn
    font-family: serif;
}

#leave-map-link {
    z-index: 10;
    position: fixed;
    top: @header-height + 5px;
    left: 80px;
}


.alert {
    padding: 5px 10px;
    border: 1px solid #777;
    border-radius: 5px;
}


#create-backdrop {
    .gradient-radial( #EEE, #CCC );
}

.create-round-button {
    .create-round-button_(40px, 14px);
}

.smokescreen {
    .backdrop;
    z-index: -20;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    .transition(opacity, 300ms, ease-out);

    &.active {
        z-index: 5;
        opacity: 1;
    }
}

.create-something-title {
    font-size: 28px;
    font-weight: bold;
    .dark-text-shadow;

    margin-top: 20px;
}

#crotator {
    position: fixed;
    top: @header-height + 5px;
    left: 5px;
}

.btn-group-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.btn-tall {
    padding-top: 15px;
    padding-bottom: 15px;
}



.backdrop-littlelamb {
    .cover-background( '@{s3url}/ex/oh-little-lamb-exclamation-mark.jpg' );
}


.form-group.labelless {
    .form-control-feedback {
        top: 0;
    }
}



#discoball {
    .transition(all, 6s, linear);
    position: relative;
    margin-top: -500px;
    &.dothedisco {
        margin-top: @header-height;
    }
}

.disco-backdrop {
    .transition(all, 3s, ease-out);
}

.black-backdrop {
    background-color: #000;
}


#password-changer {
    input {
        margin-bottom: 10px;
    }
}


.accordion-toggle {
    .user-select( none );
    display: block;
    width: 100%;
}

.form-control-message {
    line-height: 34px; 
    //Same height as input.form-control, thus vertically
    //aligning the text with the input element
}


#feature-feature {
    margin-top: 100px;
}


#loading-indicator {
    margin-top: 30px;

    img {
        .transition(all, 10s, ease-in);
        &.active {
            .rotate(10000deg);
        }
    }
}


#soon-message {
    color: #C00;
    text-shadow: 2px 3px magenta;
    text-align: center;
    font-size: 80px;
    line-height: 1;
    font-weight: 900;
    margin-top: 60px;
    z-index: 5;
}

.margin-gradient {
    position: fixed;
    top: @header-height;
    bottom: 0;
    width: 50%;
}

.left-margin-gradient {
    .margin-gradient;
    left: 0;
    .gradient-right(#0A0);
}

.right-margin-gradient {
    .margin-gradient;
    right: 0;
    .gradient-left(#00A);
}



#Locus-Proprius-Link {
    position: fixed;
    bottom: 5px;
    left: 5px;
}




@import (less) "experience.less";
