@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


// COLORS
//========

@black: #000;
@white: #FFF;
@orpheus-green: #255;
@cream: #F7F7B7;
@cream-muted: #E0E0A0;
@purple: #505;
@navypurple: #405;
@steelpurple: #425;
@purpleblue: #509;
@lightpurple: #808;
@darkpurple: #301530;
@marine: #70F;
@grey: #999;
@lightgrey: #CCC;
@darkgrey: #777;
@charcoal: #333;
@navyblue: #007;
@steelnavy: #447;
@translucent: rgba(255, 255, 255, 0.75);
@translucent-hover: rgba(255, 255, 255, 0.90);
@lightgreen: #AFA;
@faintgreen: rgba(160, 255, 160, 0.3);
@lightolivegreen: rgba(160, 255, 60, 0.5);
@softgreen: rgba(100, 200, 100, 0.75);
@sunorange: #DA0;
@gold: #BB3;
@mustard: #CC0;
@infoblue: #268;


// GEOMETRY
//==========

@header-height: 45px;
@footer-height: 32px;




// AND MORE
//==========

@s3url: 'http://s3.amazonaws.com/fiddlr-static';
