
// COLORS
//========

@purple: #500050;
@lightgrey: #CCC;
@charcoal: #333;
@navyblue: #007;
@translucent: rgba(255, 255, 255, 0.75);
@translucent-hover: rgba(255, 255, 255, 0.90);
@softgreen: rgba(100, 200, 100, 0.75);


// GEOMETRY
//==========

@header-height: 45px;
@footer-height: 32px;




// AND MORE
//==========

@s3url: 'http://s3.amazonaws.com/fiddlr-static';
