{% load creo %}
<div class="creo-field creo-{{ fieldName }}"
     ng-cloak>

  {% block fieldViewWidget %}
    [[ creo.{{ fieldName }} ]]
  {% endblock %}

  {% if isEditing %}

    <button class="btn btn-default btn-sm btn-begin-editing"
            type="button"
            ng-click="beginEditing( '{{ fieldName }}' )">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <div class="input-group field-editor
                editing-[[ editing.{{ fieldName }} ? '':'in' ]]active">
      {% block fieldEditWidget %}
        {{ fieldTag }}
      {% endblock %}
      <span class="input-group-btn">
        <button class="btn btn-default btn-end-editing"
                type="button"
                ng-click="endEditing( '{{ fieldName }}' )">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </div><!-- /.field-editor -->

  {% endif %}
</div><!-- /.creo-field -->
