{% load creo staticfiles %}

<div class="creo-field creo-{{ fieldName }}"
     ng-cloak>

  {% block fieldViewWidget %}
    [[ creo.{{ fieldName }} ]]
  {% endblock %}

  {% if isEditing %}
  
    {% with uploading="isUploading."|add:fieldName %}
    <button class="btn btn-sm btn-begin-editing
                   btn-[[ {{uploading}} ? 'warning' : 'default' ]]"
            type="button"
            ng-disabled="{{uploading}}"
            ng-click="beginEditing( '{{ fieldName }}' )">
      <span class="glyphicon glyphicon-pencil"
            ng-show="!{{uploading}}"></span>
      <img src="{% static 'ex/ajax-loader.gif' %}"
           class="full-width-image"
           ng-show="{{uploading}}" />
    </button>
    {% endwith %}

    <div class="input-group field-editor
                editing-[[ editing.{{ fieldName }} ? '':'in' ]]active">
      {% block fieldEditWidget %}
        {{ fieldTag }}
      {% endblock %}
      <span class="input-group-btn">
        <button class="btn btn-default btn-end-editing"
                type="button"
                ng-click="endEditing( '{{ fieldName }}' )">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </div><!-- /.field-editor -->

  {% endif %}
</div><!-- /.creo-field -->
