{% load creo staticfiles %}

<div class="creo-field creo-{{ fieldName }}
            [[ isMapOpen.{{fieldName}} ? 'map-open':'' ]]"
     ng-cloak>

  {% block fieldViewWidget %}
    [[ creo.{{ fieldName }} ]]
  {% endblock %}

  {% if isEditing %}
  
    {% with uploading="isUploading."|add:fieldName patching="isPatching."|add:fieldName %}
    <button class="btn btn-sm btn-begin-editing btn-default"
            type="button"
            ng-disabled="{{patching}}" ng-show="!{{uploading}}"
            ng-click="beginEditing( '{{ fieldName }}' )">
      <span class="glyphicon glyphicon-pencil"
            ng-show="!{{patching}}"></span>
      <img class="patching-indicator" ng-show="{{patching}}"
           src="{% static 'ex/loaders/circle-ball.gif' %}" />
    </button>
    <img src="{% static 'ex/loaders/quadflower64.png' %}"
         class="uploading-spinner"
         ng-show="{{uploading}}" />
    {% endwith %}

    <div class="field-editor
                editing-[[ editing.{{ fieldName }} ? '':'in' ]]active
                [[ isMapOpen.{{fieldName}} ? 'map-open':'' ]]">
      <div class="input-group">
        {% block fieldEditWidget %}
          {% block fieldEditInput %}{{ fieldTag }}{% endblock %}
          <div class="input-group-btn">
            {% block extraEditActions %}{% endblock %}
            <button class="btn btn-default btn-end-editing"
                    type="button"
                    ng-disabled="isPreparingLocation.{{fieldName}}"
                    ng-click="endEditing( '{{ fieldName }}' )">
              <span class="glyphicon
                           glyphicon-[[ isPreparingLocation.{{fieldName}} ? 'time':'ok' ]]">
              </span>
            </button>
          </div>
        {% endblock %}
      </div><!-- /.input-group -->
      {% block extraEditMarkup %}{% endblock %}
    </div><!-- /.field-editor -->

  {% endif %}
</div><!-- /.creo-field -->
