{% extends "creo/field.html" %}

{% block fieldViewWidget %}
  <span class="glyphicon glyphicon-globe"></span>
  <span ng-show="creo.isArtist()"
        ng-bind="creo.location.neighborhood">
  </span>
  <span ng-show="creo.isEvent()"
        ng-bind="creo.venue.name">
  </span>
  <span ng-show="creo.isSponsor()"
        ng-bind="creo.location.city">
  </span>
  <span ng-show="creo.isVenue()"
        ng-bind="creo.location.address">
  </span>
  <span ng-show="creo.isVenue() || creo.isEvent()">
    <a href="[[ creo.mapLink() ]]"
       class="location-map-link" target="_blank">
      map 
      <span class="smaller glyphicon glyphicon-new-window"></span>
    </a>
  </span>
{% endblock %}


