{% extends "creo/field.html" %}

{% block fieldViewWidget %}
  <span class="glyphicon glyphicon-globe"></span>
  <span ng-show="creo.isArtist()"
        ng-bind="creo.locationInfo.neighborhood">
  </span>
  <span ng-show="creo.isEvent()"
        ng-bind="creo.venue.name">
  </span>
  <span ng-show="creo.isSponsor()"
        ng-bind="creo.locationInfo.city">
  </span>
  <span ng-show="creo.isVenue()"
        ng-bind="creo.locationInfo.address">
  </span>
  <span ng-show="creo.isVenue() || creo.isEvent()">
    <a href="[[ creo.mapLink() ]]"
       class="location-map-link" target="_blank">
      map 
      <span class="smaller glyphicon glyphicon-new-window"></span>
    </a>
  </span>
{% endblock %}

{% block fieldEditInput %}
  <div class="has-feedback">
    <input type="text" class="form-control" id="id_{{fieldName}}"
           name="{{fieldName}}" ng-model="creo.{{fieldName}}Input"
           placeholder="Enter your neighborhood"
           autocomplete="off"
           typeahead="l.neighborhood for l in getNamedLocations($viewValue) | limitTo:7"
           typeahead-loading="gettingLocations.{{fieldName}}" 
           typeahead-wait-ms="100" typeahead-min-length="2"
           typeahead-on-select="selectLocation('{{fieldName}}', $item)"
           />
    <span class="glyphicon glyphicon-time form-control-feedback"
          ng-show="gettingLocations.{{fieldName}}"></span>
  </div>
{% endblock %}

{% block extraEditActions %}
  <button type="button" class="btn btn-default"
          ng-click="toggleMap('{{fieldName}}')">
    [[ isMapOpen.{{fieldName}} ? 'close':'use' ]]
    map
  </button>
{% endblock %}


{% block extraEditMarkup %}
  <div class="map-location-picker"
       ng-show="isMapOpen.{{fieldName}}">
    <div class="gmap" ng-if="hasMapOpened.{{fieldName}}">
      <google-map center="map.center" zoom="map.zoom"
                  pan="false" draggable="true"
                  events="map.events">
      </google-map>
    </div>

    <div class="map-locations btn-group-vertical center-block"
         ng-show="mapLocations.length > 0">
      <button type="button" class="btn btn-default btn-sm"
              ng-repeat="l in mapLocations"
              ng-click="clickMapLocation( '{{fieldName}}', $index )">
        [[ l.neighborhood ]]
      </button>
    </div>
  </div>
{% endblock %}
