{% extends "private-page-base.html" %}
{% load misc staticfiles %}


{% block private_content %}
<div class="container">

  <div class="row">
    <div class="col-sm-9">
      <div class="events-list-title">{{ list_title }}</div>
    </div>
    <div class="col-sm-3">
      <div class="text-right">
        <a href="{% url 'Events Map' list_name %}"
           class="btn btn-info bold btn-purple large">
          Map View
        </a>
      </div>
    </div>
  </div>

  {% for event in events %}
    <div class="event-block">
      <div class="expand-event-block">
        <span class="glyphicon glyphicon-resize-full"></span>
      </div>
      <div class="content-case">
        <div class="event-info">
          <a href="{% url 'Event Page' event.pk %}"
             class="event-name" title="{{ event.name }}">
            <span class="inner-content">
              {{ event.name }}
            </span>
          </a>
          <div class="event-venue">
            <span class="inner-content">
              @ 
              <a href="{% url 'Venue Page' event.venue.pk %}"
                 title="{{ event.venue.name }}">
                {{ event.venue.name }}
              </a>
            </span>
          </div>
          <div class="event-datetime">
            <span class="inner-content">
              {% date_range event.start event.end %}
            </span>
          </div>
          <div class="event-artists">
            <span class="inner-content">
              {% with artists=event.artists.all %}
                {% for artist in artists %}
                  {% if forloop.last and artists.count > 1 %}&amp;{% endif %}
                  <a href="{% url 'Artist Page' artist.pk %}" class="ib">
                    {{ artist }}
                  </a>{% if artists.count > 2 and not forloop.last %},{% endif %}
                {% endfor %}
              {% endwith %}
            </span>
          </div>
        </div>
        <div class="event-actions">
          <a href="#" class="pull-left">Directions</a>
          <a href="#" class="pull-right">Attend</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% if list_name == 'featured' %}
<div id="feature-feature">
  <div class="container">
    <hr>
    <h4>Interested in featuring your event?</h4>
    <a class="btn btn-success"
       target="_blank"
       href="http://lorempixel.com/500/500/business/">
      Find out more &raquo;
    </a>
  </div>
</div>
{% endif %}
  
{% endblock private_content %}
