{% extends "private-page-base.html" %}
{% load misc %}


{% block private_content %}

<div class="container">

  <div class="row">
    <div class="col-sm-9">
      <div class="events-list-title">{{ list_title }}</div>
    </div>
    <div class="col-sm-3">
      <div class="text-right">
        <a href="{% url 'Events Map' list_name %}"
           class="btn btn-info bold btn-purple large">
          Map View
        </a>
      </div>
    </div>
  </div>

  {% for event in events %}
    <div class="event-block">
      <div class="expand-event-block">
        <span class="glyphicon glyphicon-resize-full"></span>
      </div>
      <div class="content-case">
        <div class="event-info">
          <a href="{% url 'Event Page' event.pk %}" class="event-name">
            {{ event.name|smallcaps }}
          </a>
          <p class="event-details">
            <span class="event-time">Time</span>,
            <span class="event-date">Date</span>,
            <span class="event-venue">
              <a href="{% url 'Venue Page' event.venue.pk %}">
                {{ event.venue.name }}
              </a>
            </span>
          </p>
          <p class="event-description">
            Description
          </p>
          <p class="event-artist">
            {% with artists=event.artists.all %}
            {% for artist in artists %}
            {% if forloop.last and artists.count > 1 %}
            &amp;
            {% endif %}
            <a href="{% url 'Artist Page' artist.pk %}" class="ib">
              {{ artist }}
            </a>{% if artists.count > 2 and not forloop.last %},{% endif %}
            {% endfor %}
            {% endwith %}
          </p>
        </div>
        <div class="event-actions">
          <a href="#" class="pull-left">Get directions</a>
          <a href="#" class="pull-right">Attend</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock private_content %}
