{% extends "private-page-base.html" %}
{% load misc staticfiles %}


{% block prescripts %}
<script>
  var listName = '{{ list_name }}';
</script>
{% endblock %}


{% block private_content %}
<div class="container" ng-controller="EventsListController">

  <div class="row">
    <div class="col-sm-9">
      <div class="events-list-title">{{ list_title }}</div>
    </div>
    <div class="col-sm-3">
      <div class="text-right">
        <a href="{% url 'Events Map' list_name %}"
           class="btn btn-info bold btn-purple large">
          Map View
        </a>
      </div>
    </div>
  </div>

  <script>
    function activateLoadingIndicator(image) {
        setTimeout(function() {image.className += ' active ';}, 0);
    }
  </script>
  <div id="loading-indicator" ng-show="isLoading">
    <img src="{% static 'ex/zeaface-sm.png' %}" 
         class="center-block"
         onload="activateLoadingIndicator(this)" />
  </div>

  <div ng-repeat="event in events | filter:eventFilter('{{list_name}}')"
       class="event-block" ng-cloak>
    <div class="expand-event-block">
      <span class="glyphicon glyphicon-resize-full"></span>
    </div>
    <div class="content-case">
      <div class="event-info">
        <a href="/event/[[ event.id ]]/"
           class="event-name" title="[[ event.name ]]">
          <span class="inner-content">
            [[ event.name ]]
          </span>
        </a>
        <div class="event-venue">
          <span class="inner-content">
            @ 
            <a href="/venue/[[ event.venue.id ]]/"
               title="[[ event.venue.name ]]">
              [[ event.venue.name ]]
            </a>
          </span>
        </div>
        <div class="event-datetime">
          <span class="inner-content">
            <span ng-bind-html="event | dateRange"></span>
          </span>
        </div>
        <div class="event-artists">
          <span class="inner-content">
            <span ng-repeat="artist in event.artists">
              <span ng-show="$last && $index > 0">&amp;</span>
              <a href="/artist/[[ artist.id ]]/" class="ib">
                [[ artist.name ]]
              </a><span ng-show="!$last && event.artists.length > 2">,</span>
            </span>
          </span>
        </div>
      </div>
      <div class="event-actions">
        <a href="#" class="pull-left">Directions</a>
        <a href="#" class="pull-right">Attend</a>
      </div>
    </div>
  </div>
</div>


{% if list_name == 'featured' %}
<div id="feature-feature">
  <div class="container">
    <hr>
    <h4>Interested in featuring your event?</h4>
    <a class="btn btn-success"
       target="_blank"
       href="http://lorempixel.com/500/500/business/">
      Find out more &raquo;
    </a>
  </div>
</div>
{% endif %}
  
{% endblock private_content %}

{% block postscripts %}
<script src="{% static 'my/scripts/geo.js' %}"></script>
{% endblock %}
