{% extends "private-page-base.html" %}
{% load misc staticfiles %}


{% block body_class %}
  {{ block.super }}
  scrollbar-always-present
{% endblock %}


{% block content_class %}
  {{ block.super }}
  flush-with-header
{% endblock %}


{% block prescripts %}
<script>
  var listName = '{{ list_name }}';
</script>
{% endblock %}


{% block private_content %}
<div ng-controller="EventsListController">

  <div id="gmap-explore">
    <google-map center="map.center" 
                zoom="map.zoom"
                pan="false"
                draggable="true">
      <marker ng-repeat="e in events | filter:eventFilter('{{list_name}}')"
              coords="e.venue.geocoordinates"
              events="markerEvents">
      </marker>
    </google-map>
  </div>


  <div id="leave-map-link">
    <a href="{% url 'Events List' list_name %}" 
       class="btn btn-info bold btn-purple">
      Return to List View
    </a>
  </div>

  <div class="events-map-list">
    <div class="events-map-title">{{ list_title }}</div>
    <div ng-cloak>
      <accordion close-others="false">
        <accordion-group ng-repeat="e in events | filter:eventFilter('{{list_name}}')"
                         class="event-item" 
                         geo-id="[[ e.venue.geocoordinates.id ]]">
          <accordion-heading>
            <div class="event-name">[[ e.name ]]</div>
          </accordion-heading>
          <div class="event-venue">@ [[ e.venue.name ]]</div>
          <div>
            <div ng-bind-html="e | dateRange"></div>
          </div>
          <div>
            [[ e.brief ]]
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
{% endblock %}



{% block postscripts %}
<script src="{% static 'my/scripts/explore-map.js' %}"></script>
<script src="{% static 'my/scripts/geo.js' %}"></script>
{% endblock %}

