{% extends "pagebase.html" %}
{% load misc staticfiles %}


{% block body_class %}
  {{ block.super }}
  scrollbar-always-present
{% endblock %}


{% block content_class %}
  {{ block.super }}
  flush-with-header
{% endblock %}


{% block prescripts %}
<script>
  var listName = '{{ listingKey }}';
</script>
{% endblock %}


{% block content %}
<div ng-controller="EventsListController">

  <div id="gmap-explore">
    <google-map center="map.center" 
                zoom="map.zoom"
                pan="false"
                draggable="true">
      <marker ng-repeat="e in events | filter:eventFilter('{{listingKey}}')"
              coords="e.venue.geocoordinates"
              {% comment %}
              ng-init="mgeo = e.venue.geocoordinates"
              coords="mgeo"
              {% endcomment %}
              options="{opacity:1}"
              events="markerEvents">
      </marker>
    </google-map>
  </div>


  <div id="leave-map-link">
    <a href="{% url 'Event Listing' listingKey %}" 
       class="btn btn-info bold btn-purple">
      Return to List View
    </a>
  </div>

  <div class="events-map-list">
    <div class="events-map-title">{{ listingTitle }}</div>
    <div ng-cloak>
      <accordion close-others="false">
        <accordion-group ng-repeat="e in events | filter:eventFilter('{{listingKey}}')"
                         ng-init="geo = e.venue.geocoordinates"
                         class="event-item [[geo.id==hoverMarkerId?'corresponding-marker-hover':'']]" 
                         is-open="itemStati[geo.id]"
                         ng-click="clickEventItem(geo.id)">
          <accordion-heading>
            <div class="event-name">[[ e.name ]]</div>
          </accordion-heading>
          <div class="event-venue">@ [[ e.venue.name ]]</div>
          <div>
            <div ng-bind-html="e | dateRange"></div>
          </div>
          <div>
            [[ e.brief ]]
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
{% endblock %}



{% block postscripts %}
<script src="{% static 'my/scripts/geo.js' %}"></script>
{% endblock %}

