{% extends "pagebase.html" %}
{% load misc %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1
                col-md-8  col-md-offset-2
                col-lg-6  col-lg-offset-3">
      <h2>About fiddlr</h2>
      <p>
        Do allow us to expound the meaning of fiddlr.
      </p>
      <p class="text-justify large">
        <span class="serif">
          {{ "Equidem et Platonem existimo si genus forense dicendi tractare voluisset, gravissime et copiosissime potuisse dicere et Demosthenem si illa, quae a Platone didicerat, tenuisset et pronuntiare voluisset, ornate splendideque facere potuisse; eodemque modo de Aristotele et Isocrate iudico, quorum uterque suo studio delectatus contempsit alterum. Sed cum statuissem scribere ad te aliquid hoc tempore, multa posthac, ab eo ordiri maxime volui, quod et aetati tuae esset aptissimum et auctoritati meae. Nam cum multa sint in philosophia et gravia et utilia accurate copioseque a philosophis disputata, latissime patere videntur ea quae de officiis tradita ab illis et praecepta sunt. Nulla enim vitae pars neque publicis neque privatis neque forensibus neque domesticis in rebus, neque si tecum agas quid, neque si cum altero contrahas, vacare officio potest in eoque et colendo sita vitae est honestas omnis et neglegendo turpitudo."|smallcaps }}
        </span>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
