{% extends "pagebase.html" %}
{% load misc %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1
                col-md-8  col-md-offset-2
                col-lg-6  col-lg-offset-3">
      <h2>Advertising on fiddlr</h2>
      <p class="text-justify large">
        <span class="serif">
          {{ "Quare hoc quidem effectum sit, in officiis deligendis id genus officiorum excellere, quod teneatur hominum societate. [Etenim cognitionem prudentiamque sequetur considerata actio; ita fit, ut agere considerate pluris sit quam cogitare prudenter]. Atque haec quidem hactenus. Patefactus enim locus est ipse, ut non difficile sit in exquirendo officio quid cuique sit praeponendum videre. In ipsa autem communitate sunt gradus officiorum, ex quibus quid cuique praestet intellegi possit, ut prima diis immortalibus, secunda patriae, tertia parentibus, deinceps gradatim reliquis debeantur."|smallcaps }}
        </span>
      </p>
      <p class="text-justify large">
        <span class="serif">
          {{ "Quibus ex rebus breviter disputatis intellegi potest non solum id homines solere dubitare, honestumne an turpe sit, sed etiam duobus propositis honestis utrum honestius sit. Hic locus a Panaetio est, ut supra dixi, praetermissus. Sed iam ad reliqua pergamus."|smallcaps }}
        </span>
      </p>

    </div>
  </div>
</div>
{% endblock content %}
