{% extends "pagebase.html" %}
{% load misc staticfiles angular %}

{% block html_attributes %}ng-app="profilePageApp"{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="profile-panel">
          <div class="artist-header">
            <span class="artist-name">
              {{ artist.name }}
            </span> &nbsp;
            <span class="ib artist-location text-upper text-info">
              New York
            </span>
          </div>
          <div class="profile-picture">
            <img class="full-width-image" 
                 src="http://lorempixel.com/250/300/animals" />
          </div>
          <div class="fan-buttons">

            <button class="btn btn-info">
              301 followers
            </button>
            <button class="btn btn-info pull-right">
              Follow this artist
            </button>

          </div>
          <div class="past-events">
            <div class="dropdown">
              <button id="dLabel" class="btn btn-default"
                      role="button" data-toggle="dropdown" data-target="#">
                {{ artist.name }}'s prior events
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                {% for item in "Hipsters' Night Out,I'm not a Yuppy,Who let the Opera out?"|split:"," %}
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">
                    The event formerly known as {{item}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-8 col-md-6">
        <div ng-controller="ProfilePageController">
          <div class="sliding-tabs-theca">
          <tabset>
            <tab select="moveTabPane(0)">
              <tab-heading>
                <i class="glyphicon glyphicon-info-sign"></i> 
                {{ 'About'|smallcaps }}
              </tab-heading>
              <div class="artist-bio">
                {% if artist.about %}
                  {{ artist.about }}
                {% else %}
                  {% placeholder_copy length=4 %}
                {% endif %}
              </div>
            </tab>
            <tab select="moveTabPane(1)">
              <tab-heading>
                <i class="glyphicon glyphicon-folder-open"></i>
                {{ 'Portfolio'|smallcaps }}
              </tab-heading>
              {% with lps='http://lorempixel.com/100/50/' lpm='http://lorempixel.com/400/200/' lpl='http://lorempixel.com/400/200/' %}
              <div class="galleria">
                {% for category in "abstract,animals,business,cats,city,food,nightlife,fashion,people,nature,sports,technics,transport"|split:"," %}
                  <a href="{{ lpm|add:category }}">
                    <img src="{{ lps|add:category }}" 
                         data-big="{{ lpl|add:category }}" 
                         data-title="{{ category }}" 
                         data-description="This is a random picture of the {{category}}">
                  </a>
                {% endfor %}
              </div>
              {% endwith %}
            </tab>
            <tab select="moveTabPane(2)">
              <tab-heading>
                <i class="glyphicon glyphicon-bullhorn"></i>
                {{ 'Upcoming'|smallcaps }}
              </tab-heading>
              <accordion close-others="true">
                <accordion-group heading="UmadagagadaUmadagagadaUmadagagadaUmadagagada">
                  Well then
                </accordion-group>
                <accordion-group heading="Nothing to see here &hellip;">
                  <p>Oh, hello!</p>
                  <iframe width="560" height="315" src="//www.youtube.com/embed/-_6kyx1XGDo" frameborder="0" allowfullscreen></iframe>
                </accordion-group>
                <accordion-group heading="And last but not least:">
                  Bipity Bopity Boo!
                </accordion-group>
              </accordion>
            </tab>
          </tabset>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}


{% block postscripts %}
{% angular %}
<script src="{% static '3p/scripts/ui-bootstrap-tpls-0.11.0.min.js' %}"></script>
{% angular_app "profile-page" %}
<script src="{% static 'galleria/galleria-1.3.5.min.js' %}"></script>
<script>
var initGalleria = function() {
  Galleria.loadTheme("{% static 'galleria/themes/classic/galleria.classic.min.js' %}");
  Galleria.run('.galleria');
}
</script>
{% endblock %}

