{% extends "private-page-base.html" %}
{% load misc staticfiles %}

{% block private_content %}
<div id="create-backdrop" class="backdrop"></div>

<div id="create-wrapper" class="invisible">

  <div id="create-something-wrapper">
    <a class="create-round-button" id="create-something">
      <span class="button-text">CREATE</span>
    </a>
  </div>

  <div id="create-navigation" class="prearranged">
    {% for x in "Your Profile,Your Contacts,Your Projects,For You,Near You"|split:"," %}
      <a class="create-round-button">
        <span class="button-text">{{ x|space2newline }}</span>
      </a>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block postscripts %}
<script src="{% static 'my/scripts/CreateUI.js' %}"></script>
{% endblock %}
