{% extends "private-page-base.html" %}
{% load misc staticfiles %}

{% block private_content %}
<div id="create-backdrop" class="backdrop"></div>

<div id="major-button-div" class="invisible">
  <a class="circle-button" id="create-button">
    <span class="button-text">CREATE</span>
  </a>

  <div id="create-navigation" class="prearranged">
    {% for x in "Your Profile,Your Contacts,Your Projects,For You,Near You"|split:"," %}
      <a class="circle-button">
        <span class="button-text">{{ x }}</span>
      </a>
    {% endfor %}
  </div>

</div>

{% if user.is_authenticated and user.username == 'gaby' %}
<audio id="gruntsforgaby" preload="auto"
       src="{% static 'ex/mambogruntsgaby.mp3' %}"><audio>
{% endif%}
{% endblock %}

{% block postscripts %}
<script src="{% static 'my/scripts/circle-buttons.js' %}"></script>
{% if user.is_authenticated and user.username == 'gaby' %}
  <script src="{% static 'my/scripts/gruntsforgaby.js' %}"></script>
{% endif %}
{% endblock %}
