{% extends "pagebase.html" %}
{% load misc staticfiles %}

{% block content %}
<div id="create-backdrop" class="backdrop"></div>

<div id="create-wrapper" class="invisible">
  <div id="create-something-wrapper">
    <a class="create-round-button btn-orpheus-purple" 
       id="create-something">
      <span class="button-text">CREATE</span>
    </a>
    <div class="smokescreen">
      <div class="text-center">
        <div class="create-something-title">
          Create:
        </div>
        <div class="btn-group-vertical btn-group-centered mt10px">
          {% for creotype in 'artist,venue,event,sponsor'|split:',' %}
          <a class="btn btn-default large btn-tall"
             href="new/{{ creotype }}/">
            {{ creotype|capfirst }}
          </a>
          {% endfor %}
        </div>
        <div class="mt30px">
          <em>Tap anywhere to cancel</em>
        </div>
      </div>
    </div>
  </div>

  <div id="create-navigation" class="prearranged">
    <a class="create-round-button btn-orpheus-purple"
       {% if creoCount == 0 %}
         disabled="disabled"
       {% elif creoCount == 1 %}
         href="{% url 'edit-creo' uzer.creos.all.0 %}"
       {% else %}
         href="{% url 'my-creos' %}"
       {% endif %}
       >
      <span class="button-text">
        Your<br>
        Profile{% if creoCount > 1 %}s{% endif %}
      </span>
    </a>
    {% for x in "Your Contacts,Your Projects,For You,Near You"|split:"," %}
      <a class="create-round-button btn-orpheus-purple">
        <span class="button-text">{{ x|space2newline }}</span>
      </a>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block postscripts %}
<script src="{% static 'my/scripts/CreateUI.js' %}"></script>
{% endblock %}
