{% extends "pagebase.html" %}
{% load misc staticfiles %}

{% block content %}
<div id="Locus-Proprius-Gabriellae"
     ng-controller="ControllerGabriellae">
  <div class="backdrop black-backdrop"></div>

  <div class="container">
    <div id="cardiac-map" class="gmap">
      <google-map center="map.center" zoom="map.zoom"
                  pan="false" draggable="true">
        <marker ng-repeat="c in coords" coords="c">
        </marker>
      </google-map>
    </div>
  </div>

  <div class="container mt70px">
    {% with lps='http://lorempixel.com/100/50/' lpm='http://lorempixel.com/800/400/' lpl='http://lorempixel.com/1200/600/' %}
    <div class="galleria-gabriellae">
      {% for category in "abstract,animals,business,cats,city,food,nightlife,fashion,people,nature,sports,technics,transport"|split:"," %}
      <a href="{{ lpm|add:category }}">
        <img src="{{ lps|add:category }}" 
             data-big="{{ lpl|add:category }}" 
             data-title="{{ category }}" 
             data-description="This is a random picture of the {{category}}">
      </a>
      {% endfor %}
    </div>
    {% endwith %}
  </div>

</div>
{% endblock content %}



{% block postscripts %}
  <script src="{% static '3p/galleria/galleria-1.3.5.min.js' %}"></script>
  <script>
    var initGalleria = function() {
      Galleria.loadTheme("{% static '3p/galleria/themes/classic/galleria.classic.min.js' %}");
      Galleria.run('.galleria-gabriellae');
    }
    $(window).on('load', function() { initGalleria(); });
  </script>
{% endblock %}
