{% extends "private-page-base.html" %}

{% block private_content %}
<div id="edit-account" ng-controller="EditAccountController">
  <div class="container">

    <h3>Basic Account Information</h3>

    <form class="form-horizontal" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="input-username" class="col-sm-2 control-label">
          Username
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" 
                 id="input-username" placeholder="username"
                 value="{{ user.username }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="input-email" class="col-sm-2 control-label">
          Email
        </label>
        <div class="col-sm-6">
          <input type="email" class="form-control" 
                 id="input-email" placeholder="email"
                 value="{{ user.email }}" />
        </div>
        <div class="col-sm-4">
          <div ng-show="isEmailVerified === false" ng-cloak>
            <button class="btn btn-warning">
              Verify this email
            </button>
          </div>
          <div ng-show="isEmailVerified === true" ng-cloak>
            <div class="text-success form-control-message">
              This email is verified
            </div>
          </div>
          <div ng-show="isEmailVerified === null" ng-cloak>
            <small class="text-info form-control-message">
              Checking email verification&hellip;
            </small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="input-givenname" class="col-sm-2 control-label">
          Name
        </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" 
                 id="input-givenname" placeholder="given name"
                 value="{{ user.first_name }}" />
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" 
                 id="input-surname" placeholder="surname"
                 value="{{ user.last_name }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="input-password" class="col-sm-2 control-label">
          Password
        </label>
        <div class="col-sm-10">
          <accordion ng-cloak>
            <accordion-group heading="Change password"
                             is-open="isPassowrdChangerOpen">
              <div id="password-changer">
                <div class="row">
                  <div class="col-sm-5">
                    <input type="password" class="form-control"
                           id="input-password" 
                           placeholder="new password"
                           ng-model="pw.first" />
                  </div>
                  <div class="col-sm-5">
                    <input type="password" class="form-control"
                           id="input-password-verify"
                           placeholder="please verify" 
                           ng-model="pw.second" />
                  </div>
                  <div class="col-sm-2 col-xs-4">
                    <button class="btn full-width
                                   btn-[[ pwValid() ? 'success':'warning' ]]"
                            ng-disabled="pw.first.length == 0"
                            ng-click="submitNewPassword()"
                            tooltip="[[ pwTooltip ]]"
                            tooltip-trigger="[[ {true:'focus', false:'never'}[!pwValid()] ]]">
                      {# TODO: also validate on password requirements #}
                      Save
                    </button>
                  </div>
                </div> <!-- /.row -->
              </div> <!-- /#password-changer -->
            </accordion-group>
          </accordion>
        </div> <!-- /col for password accordion -->
      </div> <!-- /.form-group -->
    </form>
  </div> <!-- /.container -->
  
  <hr>

  <div class="container">

    <h3>Profile Personalization</h3>

    

  </div> <!-- /.container -->

</div> <!-- /#edit-account -->
{% endblock %}

