{% extends "private-page-base.html" %}
{% load misc staticfiles %}


{% block private_content %}
<div class="container" ng-controller="ProfilePageController">
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <div class="profile-panel">
        <div class="profile-header">
          <span class="profile-name">
            {{ thing.name }}
          </span> &nbsp;
          <span class="ib profile-location text-upper text-info">
            New York
          </span>
        </div>
        <div class="profile-picture">
          <img class="full-width-image" 
               src="http://lorempixel.com/350/450/animals" />
        </div>
        <div class="fan-buttons">
          {% with n=thing.fans.count %}
          <button disabled class="btn btn-info {% if n == 0 %}invisible{% endif %}">
            <b>{{ n }}</b>
            <small>fan{% if n != 1 %}s{% endif %}</small>
          </button>
          {% endwith %}

          <button class="btn btn-info pull-right"
                  id="follow-this-thing">
            {% if isFollowingThis %}
            Already following
            {% else %}
            Follow this artist
            {% endif %}
          </button>

        </div>
        {% if thing.recentEvents and thing.recentEvents.count > 0 %}
        <div id="prior-events">
          <div class="dropdown">
            <button id="dLabel" class="btn btn-default"
                    role="button" data-toggle="dropdown"
                    data-target="#">
              Recent events
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" 
                aria-labelledby="dLabel">
              {% for event in thing.recentEvents %}
              <li role="presentation">
                <a role="menuitem" tabindex="-1"
                   href="{% url 'Profile' event.id %}">
                  {{ event.name }}
                </a>
              </li>
              {% endfor %}
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <a href="events/" role="menuitem" tabindex="-1">
                  See all prior events of {{ thing.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-7 visible-sm" id="small-about">
      <div class="small-about-header">
        <i class="glyphicon glyphicon-info-sign"></i> 
        {{ 'About'|smallcaps }}
      </div>
      <div class="profile-bio">
        {% if thing.about %}
        {{ thing.about }}
        {% else %}
        {% placeholder_copy length=4 %}
        {% endif %}
      </div>
    </div>        

    <div class="col-sm-12 col-md-8">
      <div class="sliding-tabs-theca" ng-cloak>
        <tabset id="profile-tabs">
          <tab select="moveTabPane(0)" class="hidden-sm">
            <tab-heading>
              <span class="hidden-xs">
                <i class="glyphicon glyphicon-info-sign"></i> 
              </span>
              {{ 'About'|smallcaps }}
            </tab-heading>
            <div class="profile-bio">
              {% if thing.about %}
              {{ thing.about }}
              {% else %}
              {% placeholder_copy length=4 %}
              {% endif %}
            </div>
          </tab>
          <tab select="moveTabPane(1)">
            <tab-heading>
              <span class="hidden-xs">
                <i class="glyphicon glyphicon-folder-open"></i>
              </span>
              {{ 'Portfolio'|smallcaps }}
            </tab-heading>
            {% with lps='http://lorempixel.com/100/50/' lpm='http://lorempixel.com/400/200/' lpl='http://lorempixel.com/400/200/' %}
            <div class="galleria">
              {% for category in "abstract,animals,business,cats,city,food,nightlife,fashion,people,nature,sports,technics,transport"|split:"," %}
              <a href="{{ lpm|add:category }}">
                <img src="{{ lps|add:category }}" 
                     data-big="{{ lpl|add:category }}" 
                     data-title="{{ category }}" 
                     data-description="This is a random picture of the {{category}}">
              </a>
              {% endfor %}
            </div>
            {% endwith %}
          </tab>
          <tab select="moveTabPane(2)">
            <tab-heading>
              <span class="hidden-xs">
                <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
              {{ 'Upcoming'|smallcaps }}
            </tab-heading>
            <accordion close-others="true">
              <accordion-group heading="UmadagagadaUmadagagadaUmadagagadaUmadagagada">
                Well then
              </accordion-group>
              <accordion-group heading="Nothing to see here &hellip;">
                <p>Oh, hello!</p>
                <iframe width="560" height="315" src="//www.youtube.com/embed/-_6kyx1XGDo" frameborder="0" allowfullscreen></iframe>
              </accordion-group>
              <accordion-group heading="And last but not least:">
                Bipity Bopity Boo!
              </accordion-group>
            </accordion>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block postscripts %}
  <script src="{% static '3p/galleria/galleria-1.3.5.min.js' %}"></script>
  <script>
    var initGalleria = function() {
      Galleria.loadTheme("{% static '3p/galleria/themes/classic/galleria.classic.min.js' %}");
      Galleria.run('.galleria');
    }
  </script>
{% endblock %}

