{% extends "private-page-base.html" %}
{% load misc %}


{% block private_content %}

<div class="text-center" style="margin: 20px;">
  <a href="{% url 'Featured Map View' %}"
     class="btn btn-info bold purple">
    Enter the map view
  </a>
</div>

<div class="container">
  {% for event in featured_events %}
    <div class="event-block">
      <div class="translucent hoverable content-case">
        <div class="event-info">
          <a href="{% url 'Event Page' event.pk %}" class="event-name">
            {{ event.name|smallcaps }}
          </a>
          <p class="event-details">
            <span class="event-time">Time</span>,
            <span class="event-date">Date</span>,
            <span class="event-venue">
              <a href="{% url 'Venue Page' event.venue.pk %}">
                {{ event.venue.name }}
              </a>
            </span>
          </p>
          <p class="event-description">
            Description
          </p>
          <p class="event-artist">
            {% with artists=event.artists.all %}
            {% for artist in artists %}
              {% if forloop.last and artists.count > 1 %}
                &amp;
              {% endif %}
              <a href="{% url 'Artist Page' artist.pk %}" class="ib">
                {{ artist }}
              </a>{% if artists.count > 2 and not forloop.last %},{% endif %}
            {% endfor %}
            {% endwith %}
          </p>
        </div>
        <div class="event-actions">
          <a href="#" class="pull-left">Get directions</a>
          <a href="#" class="pull-right">Attend</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock private_content %}
