{% extends "pagebase.html" %}
{% load misc staticfiles angular %}


{% block html_attributes %}
ng-app="exploreApp"
{% endblock %}


{% block styles %}
<style>
  .angular-google-map-container { 
    height: 400px;
  }
</style>
{% endblock %}


{% block prescripts %}
<script>
  var initialMarkers = {{ initial_markers|tojson }};
  var initialEvents = {{ featured_events_json|safe }};
</script>
<script src="{% static 'my/scripts/explore-map.js' %}"></script>
{% endblock %}


{% block content %}
<div ng-controller="ExploreController">
  <div class="container full-width">
    <div class="row">
      <div class="col-sm-7">
        <div id="gmap-explore">
          <google-map center="map.center" 
                      zoom="map.zoom"
                      pan="false"
                      draggable="true">
            <marker ng-repeat="e in events"
                    coords="e.coords"
                    events="markerEvents">
            </marker>
          </google-map>
        </div>
      </div>
      <div class="col-sm-5">
        <span class="pull-right">
          <a href="{% url 'Featured' %}">
            Leave map view
          </a>
        </span>
        <h3>Featured Events</h3>
        <div id="featured-events">
          <div ng-repeat="e in events | orderBy:'-extras.name'"
               class="event-item" event-id="[[e.pk]]">
            <span>:[[ e.extras.name ]]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block postscripts %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&sensor=true"></script>

{% angular %}
<script src="{% static '3p/scripts/angular-google-maps.min.js' %}"></script>
{% angular_app "explore-map" %}

{% endblock postscripts %}

