{% extends "private-page-base.html" %}
{% load misc staticfiles %}


{% block body_class %}
  {{ block.super }}
  scrollbar-always-present
{% endblock %}


{% block prescripts %}
<script>
  var initialEvents = {{ featured_events_json|safe }};
</script>
{% endblock %}


{% block private_content %}
<div ng-controller="ExploreMapController">

  <div id="gmap-explore">
    <google-map center="map.center" 
                zoom="map.zoom"
                pan="false"
                draggable="true">
      <marker ng-repeat="e in events"
              coords="e.coords"
              events="markerEvents">
      </marker>
    </google-map>
  </div>


  <div id="leave-map-link">
    <a href="{% url 'Featured' %}" class="btn btn-info bold purple">
      Leave map view
    </a>
  </div>

  <div id="featured-events" ng-cloak>
    <accordion close-others="false">
      {% for e in featured_events %}
      <accordion-group class="event-item" event-id="{{ e.pk }}">
        <accordion-heading>
          <span class="event-name">{{ e.name }}</span>
          <span class="event-venue">@ {{ e.venue.name }}</span>
        </accordion-heading>
        <div>
          {{ e.brief|default:"Dear me! There's no brief description!" }}
        </div>
        <div>
          {{ e.start|default:"Don't know from when" }} 
          &mdash; 
          {{ e.end|default:"Don't know till when" }}
        </div>
      </accordion-group>
      {% endfor %}
    </accordion>
  </div>

</div>
{% endblock %}



{% block postscripts %}
<script src="{% static 'my/scripts/explore-map.js' %}"></script>
{% endblock %}

