{% extends "pagebase.html" %}
{% load misc staticfiles %}



{% block content %}
{% with standard_image_url="http://lorempixel.com/400/300/" wide_image_url="http://lorempixel.com/800/400/" tall_image_url="http://lorempixel.com/400/400/" %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Featured' %}">
            {% pallet text="Featured" imageURL=tall_image_url|add:"fashion" shape="tall-height" %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Near You' %}">
            {% pallet text="Near You" imageURL=standard_image_url|add:"people" shape="normal-height" %}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <a href="{% url 'For You' %}">
            {% pallet text="For You" imageURL=standard_image_url|add:"nightlife" shape="normal-height" %}
          </a>
        </div>
        <div class="col-sm-6">
          <a href="{% url 'fiddlr Events' %}">
            {% pallet text="fiddlr Events" imageURL=standard_image_url|add:"cats" shape="normal-height" %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'Happening Now' %}">
            {% pallet text="Happening Now" imageURL=wide_image_url|add:"city" shape="tall-height" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endwith %}

<div class="text-center">
  <a class="btn btn-primary" href="{% url 'Explore Profile' %}">
    My Explore Profile
  </a>
</div>

{% endblock %}
