{% load misc FithifileTags %}



{% FithifileField "brief" fithiform.brief %}

{% if thing.isEvent %}
<div class="fithifile-artists">
  {% with artists=thing.event.artists.all %}
  {% for artist in artists %}
    <span class="ib">
      {% if forloop.last and artists.count > 1 %}&amp;{% endif %}
      <a href="{% url 'Profile' artist.id %}">{{ artist }}</a>{% if artists.count > 2 and not forloop.last %},{% endif %}
    </span>
  {% endfor %}
  {% endwith %}
</div>
<div class="fithifile-venue">
  <a href="{% url 'Profile' thing.event.venue.id %}">
    {{ thing.event.venue.name }}
  </a>
</div>
{% endif %}

{% FithifileField "about" fithiform.about %}
