{% load misc %}

{% if thing.generalLocation %}
<div class="thing-general-location">
  <span class="large text-info">
    <span class="glyphicon glyphicon-globe"></span>
    {{ thing.generalLocation|smallcaps }}
  </span>
</div>
{% endif %}
{% if thing.brief %}
<div class="thing-brief">
  <em>&ldquo;{{ thing.brief }}&rdquo;</em>
</div>
{% endif %}
{% if thing.about %}
<div class="thing-about">{{ thing.about }}</div>
{% else %}
<div class="thing-about">{% placeholder_copy length=3 %}</div>
{% endif %}
