{% extends "pagebase.html" %}
{% load misc staticfiles %}



{% block content %}
{% with image_url="http://lorempixel.com/400/300/" %}
<div class="container">
  <div class="row">
    {% for X in "Favorite Events,Favorite Artists,Favorite Venues"|split:"," %}
      <div class="col-sm-4">
        <a href="{% url 'Explore '|add:X %}">
          {% pallet text=X imageURL=image_url|add:"fashion" shape="normal-height" %}
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    {% for X in "For Me,Near Me,Browse"|split:"," %}
      <div class="col-sm-4">
        <a href="{% url 'Explore '|add:X %}">
          {% pallet text=X imageURL=image_url|add:"fashion" shape="normal-height" %}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endwith %}
{% endblock %}
