{% load misc fing %}



{% FingField "brief" fingForm.brief %}

{% if fing.isEvent %}
<div class="fing-artists">
  {% for artist in fing.artists %}
    <span class="ib">
      {% if forloop.last and fing.artists.count > 1 %}&amp;{% endif %}
      <a href="{% url 'Explore Fing' artist.id %}">
        {{ artist }}
      </a>{% if fing.artists.count > 2 and not forloop.last %},{% endif %}
    </span>
  {% endfor %}
</div>
<div class="fing-venue">
  <a href="{% url 'Explore Fing' fing.venue.id %}">
    {{ fing.venue.name }}
  </a>
</div>
{% endif %}

{% FingField "about" fingForm.about %}
